<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ COPY.post_metadata.title }}</title>

    <!-- META TAGS -->
    {% include '%s/templates/_meta.html' % slug %}

    <!-- FONTS -->
    {% include '%s/templates/_fonts.html' % slug %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    {% include '%s/templates/_social_tags.html' % slug %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body class="deck-container">
    <a class="sr-only" href="#content">Skip To Content</a>

    {% block outer_content %}

    {% block header_content %}
    {% endblock header_content %}

    {% block content %}
    {% endblock content %}
    {% block wide_content %}
    {% endblock wide_content %}

    {% endblock outer_content %}

    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/imgLiquid.js') }}
    {{ JS.push('js/lib/deck.core.js') }}
    {{ JS.push('js/lib/ZeroClipboard.js') }}
    {{ JS.push('js/lib/imagesloaded.pkgd.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/filmstrip.js') }}
    {{ JS.push('js/video.js') }}
    {{ JS.push('js/tests.js') }}
    {{ JS.push('js/app.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}
</body>
</html>
