{block:IndexPage}
<section class="index-page">
    <div id="content" class="container-fluid">
            <section class="posts-wrapper">

                <div id="posts" class="posts">
                    <div class="row">
                    
 
                    <div class="top-section">
                    
                        <header style="background-image:url('{{ S3_BASE_URL }}/tumblr/assets/branding-background.png');">
                        
                            <div class="branding">
                                <a href="http://npr.org" class="npr-logo">
                                    <img src="{{ S3_BASE_URL }}/tumblr/assets/npr-logo.png">
                                </a>
                                <h3><a href="/"><b>Look</b> At This</a></h3>
                                <h4>Look At This is a rabbit hole of visual curiosities.</h4>
                            </div><!--branding-->
                            
                            <div class="menu">
                                <ul>
                                    <li><a href="/about">What's this about?</a></li>
                                    <li><a href="/weird">Send us something weird</a></li>
                                </ul>
                                <div class="follow-us">
                                    <p class="twitter">
                                        <em><a href="#">@LookAtThisNPR</a></em>
                                        <a href="#" class="twitter-hashtag">#looksGoodNPR</a>
                                    </p>
                                </div><!--follow-us-->
                            </div><!--menu-->
                                
                        </header>
                    
                    <!-- START POSTS -->
                    {block:Posts}

                       {block:Post2}
                        </div><!-- /top-section-->
                        </div><!-- /.row -->
                        <div class="row">
                        {/block:Post2}

                        <article class="post">

                            <div class="post-wrapper">
                                {block:Photo}
                                <a href="{Permalink}">
                                <img src="{{ S3_BASE_URL }}/tumblr/assets/homepage/{PostID}.jpg" class="img-responsive" alt="{PhotoAlt}"/>
                                
                                
                                {block:Caption}
                                
                                <div class="caption-wrapper">
                                <div class="caption">
                                    {Caption}
                                </div>
                                </div><!-- /caption-wrapper-->
                                {/block:Caption}
                                </a>
                                {/block:Photo}
                            </div>

                        </article>

                    {/block:Posts}
                    <!-- END POSTS -->
                     </div><!-- /row-->
                </div><!-- /#posts-->

            </section> <!-- #post-wrap -->


            <div class="row">
            <footer>
                {block:Pagination}
                    <nav class="pagination">
                        <section class="buttons">
                            {block:PreviousPage}<a href="{PreviousPage}" class="left">{lang:Previous page}<span class="arrow"></span></a>{/block:PreviousPage}
                            {block:NextPage}<a href="{NextPage}" class="right">{lang:Next page}<span class="arrow"></span></a>{block:NextPage}
                        </section>
                        <section class="disabled buttons">
                            <li class="left"><span class="arrow"></span></li>
                            <li class="right"><span class="arrow"></span></li>
                        </section>
                        <section class="count">Page  {CurrentPage} / {TotalPages}</section>
                    </nav>
                {/block:Pagination}
            </footer>
        </div><!-- /row -->

    </div> <!-- #container -->

    <script>
        var CURRENT_PAGE = {CurrentPage};
        var TOTAL_PAGES = {TotalPages};
    </script>

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/pym.js') }}
    {{ JS.push('js/infinite-scroll.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.render('js/app-footer.min.js') }}

    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_async_config={};
        /** CONFIGURATION START **/
        _sf_async_config.uid = 18888;
        _sf_async_config.domain = "npr.org";
        /** CONFIGURATION END **/
        (function(){
            function loadChartbeat() {
                window._sf_endpt=(new Date()).getTime();
                var e = document.createElement("script");
                e.setAttribute("language", "javascript");
                e.setAttribute("type", "text/javascript");
                e.setAttribute("src",
                    (("https:" == document.location.protocol) ?
                     "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" :
                     "http://static.chartbeat.com/") +
                    "js/chartbeat.js");
                document.body.appendChild(e);
            }
            var oldonload = window.onload;
            window.onload = (typeof window.onload != "function") ?
                loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
    </script>
</section>
{/block:IndexPage}