{block:PermalinkPage}
    <section class="permalink-page">


    {block:Posts}
        {block:Panorama}{/block:Panorama}
        {block:Audio}{/block:Audio}
        {block:Video}{/block:Video}
        {block:Photoset}{/block:Photoset}
        {block:Quote}{/block:Quote}
        {block:Link}{/block:Link}
        {block:Chat}{/block:Chat}

        {block:Text}

        <div id="text">
            <div id="post" class="main-content">
                <article class="post-body">
                    <div class="look-branding">
                        <img src="{{ S3_BASE_URL }}/tumblr/assets/npr-logo.svg">
                        <h5>Look At This</h5>
                    </div>
                    <h2>{Title}</h2>
                    {body}
                </article>
            </div>
            <div class="post-fixed-menu">
                <ul>
                    <li class="button-menu"><a href="/"><i class="fa fa-th"></i> View all stories</a></li>
                </ul>
            </div>
        </div><!--/row-->
        </div>
    </div>

        {/block:Text}

        {block:Photo}

        <div id="post"></div>

        <div class="post-fixed-menu">
            <ul>
                <li class="button-menu"><a href="/"><i class="fa fa-th"></i> View all stories</a></li>
            </ul>
        </div>

        {{ JS.push('js/lib/jquery.js') }}
        {{ JS.push('js/post.js') }}
        {{ JS.render('js/post-footer.min.js')}}

        <script type="text/javascript">
            $(document).ready(function(){
                resizeDiv();
            });

            window.onresize = function(event) {
                resizeDiv();
            }

            function resizeDiv() {
                vpw = $(window).width();
                vph = $(window).height();
                $('#post').css({'height': vph + 'px'});
            }
        </script>

        {/block:Photo}


    {/block:Posts}

</section>
{/block:PermalinkPage}
