<!-- Post template -->
{% block post %}
{block:PermalinkPage}
    <body class="permalink-page">
    {block:Posts}
        <div class="text-wrapper">
            {Body}
        </div>

        <div id="post"></div>

        <div class="post-fixed-menu">
            <h2>You're looking at <a href="#">Fringe Photography</a></h2>

            <ul>
                <li class="button-menu"><a href="#" data-toggle="modal" data-target="#main-menu">Menu <i class="fa fa-th"></i></a></li>
                <li class="button-share"><a href="#">Share <i class="fa fa-share"></i></a></li>
            </ul>
        </div>

       <!-- Modal -->
        <div class="modal" id="main-menu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                <div class="inner-menu">
                    <a href="#" class="npr-logo">
                        <img src="http://apps.npr.org/borderland/assets/img/npr-logo.png">
                    </a>
                    <h3><a href="/">look at this</a></h3>
                    <h4>An awesome tagline</h4>
                    <ul>
                        <li><a href="/">View all stories</a></li>
                        <li><a href="#">Topics</a></li>
                        <li><a href="/about">What's this about?</a></li>
                        <li><a href="/weird">Send us something weird</a></li>
                        <li><a href="#">Search</a></li>

                        <!--<form id="search" action="/search" method="get" name="search">
            <div id="input"><input placeholder="{lang:Search}" type="text" name="q" value="{SearchQuery}" id="search-terms" /></div>
            <input class="search-submit" type="submit" value="Search"/>
        </form>-->
                    </ul>
                    <div class="follow-us">
                        <p class="twitter">
                            <em><a href="#">@LookAtThisNPR</a></em>
                            <a href="#" class="twitter-hashtag">#looksGoodNPR</a>
                        </p>
                    </div><!--follow-us-->
                </div><!--inner-menu-->

              </div>
            </div>
          </div>
        </div><!--modal-->

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/lib/pym.js') }}
    {{ JS.push('js/post.js') }}
    {{ JS.render('js/app-footer.min.js')}}
{/block:Posts}





    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_async_config={};
        /** CONFIGURATION START **/
        _sf_async_config.uid = 18888;
        _sf_async_config.domain = "npr.org";
        /** CONFIGURATION END **/
        (function(){
            function loadChartbeat() {
                window._sf_endpt=(new Date()).getTime();
                var e = document.createElement("script");
                e.setAttribute("language", "javascript");
                e.setAttribute("type", "text/javascript");
                e.setAttribute("src",
                    (("https:" == document.location.protocol) ?
                     "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" :
                     "http://static.chartbeat.com/") +
                    "js/chartbeat.js");
                document.body.appendChild(e);
            }
            var oldonload = window.onload;
            window.onload = (typeof window.onload != "function") ?
                loadChartbeat : function() { oldonload(); loadChartbeat(); };
        })();
    </script>
</body>
{/block:PermalinkPage}
{% endblock %}