<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>{Title}{block:SearchPage} ({lang:Search results for SearchQuery}){/block:SearchPage}{block:PermalinkPage}{block:PostSummary}  {PostSummary}{/block:PostSummary}{/block:PermalinkPage} : NPR</title>

        <meta charset="utf-8">
        <meta name="description" content="{block:IndexPage}{block:Description}{MetaDescription}{/block:Description}{/block:IndexPage}{block:PermalinkPage}{block:PostSummary}{PostSummary}{/block:PostSummary}{/block:PermalinkPage}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />

        <meta name="text:Twitter Username" content="http://www.twitter.com/LookAtThisStory" />

        <link rel="shortcut icon" href="http://www.npr.org/favicon.ico" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{RSS}"/>

        <!-- Font loader -->
        <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
        <script>
            WebFont.load({
                 custom: {
                     families: [
                         'Gotham SSm:n4,n7'
                     ],
                     urls: [
                         'http://s.npr.org/templates/css/fonts/GothamSSm.css'
                     ]
                 },
                 timeout: 10000
             });
        </script>

        <!-- CSS -->
                {{ CSS.push('less/app.less') }}
                {% block extra_css %}{% endblock extra_css %}
                {{ CSS.render('css/app.min.css') }}



        <!-- JS -->
        {{ JS.push('js/lib/modernizr.js') }}
        {{ JS.push('js/app_config.js') }}
        {{ JS.render('js/app-header.min.js') }}

        {block:IndexPage}
        <meta name="twitter:card" content="summary">
        <meta property="og:title" content="{Title}" />
        <meta property="og:url" content="http://lookatthisstory.tumblr.com/" />
        <meta property="og:type" content="blog" />
        <meta property="og:description" content="Stories about how you see the world" />
        <meta property="og:image" content="{{ S3_BASE_URL }}/assets/og_image.png" />
        <meta property="og:site_name" content="NPR.org" />
        <meta property="fb:app_id" content="138837436154588" />
        {/block:IndexPage}
        {block:TagPage}
        <meta name="twitter:card" content="summary">
        <meta property="og:title" content="{Title}" />
        <meta property="og:url" content="http://lookatthisstory.tumblr.com/" />
        <meta property="og:type" content="blog" />
        <meta property="og:description" content="Stories about how you see the world" />
        <meta property="og:image" content="{{ S3_BASE_URL }}/assets/og_image.png" />
        <meta property="og:site_name" content="NPR.org" />
        <meta property="fb:app_id" content="138837436154588" />
        {/block:TagPage}
        {block:PermalinkPage}
        <meta name="twitter:card" content="summary">
        <meta property="og:title" content="{Title}{block:PostTitle} – {PostTitle}{/block:PostTitle}" />
        <meta property="og:url" content="{Permalink}/" />
        <meta property="og:type" content="blog" />
        <meta property="og:description" content="{block:PostSummary}{PostSummary}{/block:PostSummary}" />
        {block:Posts}
        {block:Text}
        <meta property="og:image" content="{{ S3_BASE_URL }}/assets/og_image.png" />
        {/block:Text}
        {block:Quote}
        <meta property="og:image" content="{{ S3_BASE_URL }}/assets/og_image.png" />
        {/block:Quote}
        {block:Audio}
        <meta property="og:image" content="{{ S3_BASE_URL }}/assets/og_image.png" />
        {/block:Audio}
        {block:Video}
        <meta property="og:image" content="{{ S3_BASE_URL }}/assets/og_image.png" />
        {/block:Video}
        {block:Link}
        <meta property="og:image" content="{{ S3_BASE_URL }}/assets/og_image.png" />
        {/block:Link}
        {block:Chat}
        <meta property="og:image" content="{{ S3_BASE_URL }}/assets/og_image.png" />
        {/block:Chat}
        {block:Answer}
        <meta property="og:image" content="{{ S3_BASE_URL }}/assets/og_image.png" />
        {/block:Answer}
        {block:Photo}
        <meta property="og:image" content="{PhotoURL-HighRes}"/>
        {/block:Photo}
        {/block:Posts}

        <meta property="og:site_name" content="NPR.org" />
        <meta property="fb:app_id" content="138837436154588" />
        {/block:PermalinkPage}


    </head>
    <body class="{block:IndexPage}index-page{/block:IndexPage}{block:PermalinkPage}permalink-page{/block:PermalinkPage}{block:TagPage} tag-page{/block:TagPage}">

        {block:IndexPage}
        <header class="blog-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="blog-title">
                        <h2 class="npr"><a href="http://npr.org"><img src="{{ S3_BASE_URL }}/tumblr/assets/npr-logo.svg"></a></h2>
                        <h1><a href="/">Look At This</a></h1>
                        <p class="description">{Description}</p>
                    </div>
                </div>
            </div>
        </header>
        {/block:IndexPage}

        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div id="header-nav">
                        <ul>
                <li><a href="/">everything</a></li>
                <li><a href="/tagged/stories/">stories</a></li>
                <li><a href="/about/">about</a></li>
            </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="fixed-nav">
            <div class="nav-wrapper">
                <h2 class="npr"><a href="http://npr.org"><img src="{{ S3_BASE_URL }}/tumblr/assets/npr-logo.svg"></a></h2>
                <h1><a href="/">Look At This</a></h1>
            </div>
        </div>

        <div id="container" class="group container-fluid">
            <div class="row">
                <section id="post-wrap">

                    {block:TagPage}
                        <div class="row">
                            <h2 class="tag-header">{Tag}</h2>
                        </div>
                    {/block:TagPage}

                    <div id="posts">
                    <!-- START POSTS -->
                    {block:Posts}
                        <article class="post {TagsAsClasses} {block:Text}text{/block:Text}{block:Quote}quote{/block:Quote}{block:Link}link{/block:Link}{block:Video}video{/block:Video}{block:Audio}audio{/block:Audio}{block:Photo}photo{/block:Photo}{block:Photoset}photoset{/block:Photoset}{block:Panorama}panorama{/block:Panorama}{block:Chat}chat{/block:Chat}{block:Answer}answer{/block:Answer}">


                                {block:IndexPage}
                                <div class="post-header">
                                        {block:NewDayDate}
                                            <p class="pubdate"><a href="{Permalink}" class="permalink">{block:Date}{ShortMonth}. {DayOfMonth}, {Year} {12Hour}:{Minutes} {AmPm}{/block:Date}</a></p>
                                        {/block:NewDayDate}
                                        {block:SameDayDate}<p class="pubdate"><a href="{Permalink}" class="permalink">{block:Date}{12Hour}:{Minutes} {AmPm}{/block:Date}</a></p>{/block:SameDayDate}
                                </div>
                                {/block:IndexPage}

                                <div class="post-content">
                                    <div class="post-content-wrapper">
                                        {block:Text}
                                            {block:IndexPage}
                                                {block:Title}<h3><a href="{Permalink}" class="permalink">{Title}</a></h3>{/block:Title}
                                            {/block:IndexPage}
                                            {block:PermalinkPage}
                                                {block:Title}<h3>{Title}</h3>{/block:Title}
                                            {/block:PermalinkPage}
                                            <div class="text-wrapper">
                                                {Body}
                                            </div>
                                        {/block:Text}
                                        {block:Quote}
                                            <div class="quote-wrapper">
                                                <blockquote class="words {Length}">&#8220;{Quote}&#8221;</blockquote>
                                                {block:Source}<p class="source">&mdash; {Source}</p>{/block:Source}
                                            </div>
                                        {/block:Quote}
                                        {block:Link}
                                            <h3><a href="{URL}" {Target}>{Name} <i class="icon icon-external-link"></i></a></h3>
                                            <div class="caption">{block:Description}{Description}{/block:Description}</div>
                                        {/block:Link}
                                        {block:Video}
                                            <div class="media-wrapper video-wrapper">
                                                <div class="video-container">
                                                    {Video-700}
                                                </div>
                                            </div>
                                            {block:Caption}<div class="caption">{Caption}</div>{/block:Caption}
                                        {/block:Video}
                                        {block:Audio}
                                            {block:AlbumArt}<img src="{AlbumArtURL}" alt="">{/block:AlbumArt}
                                            {AudioPlayerGrey}
                                            {block:Caption}<div class="caption">{Caption}</div>{/block:Caption}
                                        {/block:Audio}
                                        {block:Photo}
                                                <div class="media-wrapper">
                                                    {LinkOpenTag}<img src="{PhotoURL-HighRes}" class="img-responsive" alt="{PhotoAlt}"/>{LinkCloseTag}
                                                </div>
                                                {block:Caption}<div class="caption">{Caption}</div>{/block:Caption}
                                        {/block:Photo}

                                        {block:Photoset}
                                        <div class="photoset-500">{Photoset}</div>
                                        <div class="photoset-250">{Photoset-250}</div>
                                        {block:Caption}<div class="caption">{Caption}</div>{/block:Caption}
                            {/block:Photoset}

                                        {block:Panorama}
                                            {LinkOpenTag}<img src="{PhotoURL-Panorama}" class="img-responsive" alt="{PhotoAlt}" />{LinkCloseTag}
                                            {block:Caption}<div class="caption">{Caption}</div>{/block:Caption}
                                        {/block:Panorama}

                                        {block:Chat}
                                            {block:Title}<h3>{Title}</h3>{/block:Title}
                                            <ul class="list-unstyled conversation">
                                                {block:Lines}
                                                <li class="line {Alt}">
                                                    {block:Label}<span class="person">{Label}</span>{/block:Label}
                                                    <span class="person-said">{Line}</span>
                                                </li>
                                                {/block:Lines}
                                            </ul>
                                        {/block:Chat}
                                        {block:Answer}
                                            <div class="qa-asker">
                                                <img src="{AskerPortraitURL-40}">
                                                {Asker} asks:
                                            </div>
                                            <div class="qa-question">{Question}</div>
                                            <div class="qa-response">{Answer}</div>
                                        {/block:Answer}

                                        <div class="post-meta">

                                            {block:PermalinkPage}
                                                {block:Posts}
                                                    <p class="pubdate">{block:Date}{Month} {DayOfMonth}, {Year}{/block:Date}</p>
                                                    <div class="sharing"> {LikeButton color="grey"}{ReblogButton color="grey"} </div>
                                                {/block:Posts}
                                            {/block:PermalinkPage}
                                            {block:IndexPage}
                                                <p class="note-count"><a href="{Permalink}" class="permalink"><i class="icon icon-comment"></i> {NoteCountWithLabel}</a></p>
                                                <div class="sharing">{LikeButton color="grey"}{ReblogButton color="grey"}</div>
                                            {/block:IndexPage}
                                        </div>
                                    </div><!-- end .post-content-wrapper -->
                                </div><!-- end .post-content -->




                            {block:PermalinkPage}
                                {block:PostNotes}
                                    <div class="post-notes">
                                        <h3>{NoteCountWithLabel}</h3>
                                        {PostNotes-64}
                                    </div>
                                {/block:PostNotes}

                                <div class="row">
                                    <nav class="pagination-index">
                                        <a href="/">See More Posts <i class="fa fa-angle-right"></i></a>
                                    </nav>
                                </div>
                            {/block:PermalinkPage}
                        </article>
                    {/block:Posts}
                    <!-- END POSTS -->
                    </div>


                    <footer id="footer">
                        {block:Pagination}
                            <nav class="pagination">
                                <section class="buttons">
                                    {block:PreviousPage}<a href="{PreviousPage}" class="left">{lang:Previous page}<span class="arrow"></span></a>{/block:PreviousPage}
                                    {block:NextPage}<a href="{NextPage}" class="right">{lang:Next page}<span class="arrow"></span></a>{block:NextPage}
                                </section>
                                <section class="disabled buttons">
                                    <li class="left"><span class="arrow"></span></li>
                                    <li class="right"><span class="arrow"></span></li>
                                </section>
                                <section class="count">Page  {CurrentPage} / {TotalPages}</section>
                            </nav>
                        {/block:Pagination}
                    </footer>
                </section> <!-- #post-wrap -->
            </div>
        </div> <!-- #container -->

        {block:IndexPage}
        <script>
            var CURRENT_PAGE = {CurrentPage};
            var TOTAL_PAGES = {TotalPages};
        </script>
        {/block:IndexPage}

        {block:IndexPage}
        {{ JS.push('js/lib/jquery.js') }}
        {{ JS.push('js/lib/jquery.fitvids.js') }}
        {{ JS.push('js/infinite-scroll.js') }}
        {{ JS.push('js/app.js') }}
        {{ JS.render('js/app-footer-index.min.js') }}
        {/block:IndexPage}

        {block:PermalinkPage}
        {{ JS.push('js/lib/jquery.js') }}
        {{ JS.push('js/lib/jquery.fitvids.js') }}
        {{ JS.push('js/app.js') }}
        {{ JS.render('js/app-footer-permalink.min.js') }}
        {/block:PermalinkPage}

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '{{ TUMBLR_GOOGLE_ANALYTICS.ACCOUNT_ID }}', 'tumblr.com');
            ga('send', 'pageview');
        </script>
    </body>
</html>
