{% extends '%s/templates/_slide.html' % slug %}
{% block slide_content %}
    <div class="look-branding">
        <img src="assets/npr-logo.png">
        <h5>Look At This</h5>
    </div>
    <h1>{{ row.text1|smarty }}</h1>
    <h2>{{ row.text2|smarty }}</h2>
    <h3>{{ COPY.post_metadata.author|smarty }}</h3>
    <h4>{{ COPY.post_metadata.publish_date|smarty }}</h4>

    <button class="btn btn-go">{{ row.text3 }}</button>

    <p class="sound-prompt"><i class="fa fa-headphones"></i> put on your headphones</p>
{% endblock %}
