{% extends '%s/templates/_slide.html' % slug %}
{% block slide_wrapper %}
<div class="slide {% if row.template != 'slide' %} {{ row.template }}{% endif %}{% if row.extra_class %} {{ row.extra_class }}{% endif %}" data-anchor="{{ row.id }}" id="slide-{{ row.id }}">
    {% block slide_body %}
    <div class="full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                <div class="video-bg">
                    <video>
                        <source src="http://assets.apps.npr.org.s3.amazonaws.com/lookatthis/afghan-girls/{{ row.background_media }}">
                    </video>
                    <div class="controls">
                        <div class="control-group">
                            <a href="#" class="play control-btn"></a>
                            <div class="player-progress">
                                <div class="total"></div>
                                <div class="played"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% block slide_content %}
                    <div class="bleed-box">
                        {{ row.text1 }}
                    </div>
                {% endblock slide_content %}
            </div><!--full-block-content-->
        </div>
    </div>
    {% endblock slide_body %}
</div><!--slide-->
{% endblock slide_wrapper %}