@import "./lib/bootstrap/bootstrap.less";
@import "./lib/font-awesome/font-awesome.less";
@import "./lib/prefixer.less";

// Breakpoints
@screen-mega-above: ~"screen and (min-width: 1440px)";
@screen-large-above: ~"screen and (min-width: 1201px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 992px)";
@screen-medium: ~"screen and (max-width: 991px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";

// Global variables
@img-root: "../img";
@brand-primary:  #F60062;

h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
}

.container-fluid {
    max-width: 1280px;
    //max-width: 2000px;
    margin: 0 auto;

    @media @screen-small-above {
        padding: 0 10px;
    }

    @media @screen-medium-above {
        padding: 0 @grid-gutter-width;
    }
}

body {
    @media @screen-medium-above {
        background-color: #eee;
    }
}


.post-fixed-menu {
	position: fixed;
	width: 100%;
	height: 30px;
	top: 0;
	background-color: #111;
	overflow: hidden;
	padding: @grid-gutter-width / 2;
	-webkit-font-smoothing: antialiased;

	color: #fff;

	h2 {
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
		font-size: @font-size-base;
		margin-top: 15px;

		a {
			color: #fff;
			background: @brand-primary;
			padding: 5px 10px;

			&:before {
				content: '# ';
			}

			&:hover {
				background: #fff;
				text-decoration: none;
				color: #000;
			}
		}
	}

	ul {
		.list-unstyled;
	}

	li {
		position: absolute;
		top: 2px;
		left: 10px;

		i {padding-right: 3px;}

		a {
			text-transform: uppercase;
			color: #fff;
			font-size: 11px;
			font-weight: bold;


			&:hover {
				text-decoration: none;
				color: @brand-primary;
			}
		}
	}
}

// branding

.top-section {
        position: relative;

        @media @screen-small-above {
            margin-bottom: @grid-gutter-width;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;

            -webkit-justify-content: space-between;
            -ms-flex-pack: space-between;
            justify-content: space-between;
            margin: 0 15px @grid-gutter-width 15px;
        }



        header {
            color: #fff;
            background-color: @brand-primary;
            background-size: 60%;
            margin-bottom: 5px;

            @media @screen-small-above {
                margin: 0 -15px 30px -15px;
                text-align: center;
                text-align: left;
                width: 30.9%;
                margin: 0 27px 0 0;

            }

            @media @screen-medium-above {
                min-height: 500px;
                //prevent left column from getting too shallow in the event of an incorrect thumbnail aspect ratio ios bug with min height
                width: 31.7%;

            }

            &:hover {
                opacity: 1;
            }

            a {
                color: #fff;
                text-decoration: none;
            }


            .branding {
                padding: 40px 0 20px 30px;
                margin: 0;

                @media @screen-small-above {
                    padding: 10% 0 0 0;
                    margin: 0 0 0 10%;
                    width: auto;
                }

                @media @screen-medium-above {
                   max-width: 300px;
                }

                .npr-logo {
                    img {
                        min-width: 50px;
                        max-width: 15%;
                        display: block;
                        margin: 0 0 0 3px;
                        padding-bottom: 2%;

                        @media @screen-small-above {
                            float: none;
                            margin: 0 0 0 7px;
                            max-width: 30%;
                            padding: 0;
                        }
                    }
                }

                h3 {
                    font-size: 22px;
                    font-size: 10.5vw;
                    margin: 0;
                    font-weight: bold;
                    text-transform: uppercase;

                    @media @screen-small-above {
                        margin: 10px 0 10px 0;
                        font-size: 59px;
                        font-size: 4.75vw;
                        text-align: left;

                        b {
                            display: block;
                            font-size: 78px;
                            font-size: 6.3vw;
                        }
                    }

                    @media @screen-mega-above {
                        font-size: 68px;
                        b {
                            font-size: 91px;
                        }
                    }
                }

                h4 {
                    display: none;
                    line-height: 1.2;

                    @media @screen-small-above {
                        display: block;
                        font-family: georgia, serif;
                        font-weight: normal;
                        font-style: italic;
                        max-width: 260px;
                         max-width: 21vw;
                         font-size: 23px;
                         font-size: 2.5vw;
                    }

                     @media @screen-medium-above {
                         max-width: 260px;
                         max-width: 21vw;
                         font-size: 23px;
                         font-size: 1.74vw;
                    }

                    @media @screen-mega-above {
                        font-size: 26px;
                    }

                }


            }

            .menu {
                padding: 8px 5px 8px 5px;
                //background-color: rgba(246, 0, 98, 0.7);
                border-top: 2px solid #fff;
                position: relative;

                @media @screen-small-above {
                    border: none;
                    padding: 0 10%;
                    margin-top: 40px;
                    background-color: transparent;
                }

                ul {
                    margin: 0;
                    padding: 0 0 0 0;
                    list-style-type: none;
                    min-height: 25px;



                    @media @screen-small-above {
                        padding: 0;
                        height: auto;
                        //width: 35%;
                        //max-width: 160px;
                    }

                    @media @screen-medium-above {
                        //max-width: 300px;
                    }

                    li {
                        float: left;
                        font-size: 14px;
                        padding: 2px 0 0 0;
                        margin: 0 0 0 25px;
                        font-weight: bold;

                        a {
                            color: #fff;
                            padding: 3px;

                            &:hover {
                                background-color: #333;
                            }
                        }

                        @media @screen-small-above {
                            background-color: transparent;
                            font-weight: normal;
                            float: none;
                            border-top: 1px solid #eee;
                            font-size: 14px;
                            padding: 10px 0;
                            margin: 0;
                        }

                        @media @screen-medium-above {
                            font-size: 20px;
                            font-size: 1.4vw;
                        }

                        @media @screen-mega-above {
                            font-size: 20px;
                        }


                    }
                }

                dl.follow-us {
                    margin: 0;
                    padding: 0;



                    @media @screen-small-above {
                        border-top: 1px solid #fff;
                        //padding: 6px 0 0 5px;
                        //width: 35%;
                        //max-width: 160px;
                    }

                    @media @screen-medium-above {
                        //max-width: 300px;
                    }

                    dt {
                        display: none;

                        @media @screen-small-above {
                            display: block;
                            float: left;
                            margin: 10px 20px 0 3px;
                            font-weight: normal;
                            font-size: 14px;
                        }

                        @media @screen-medium-above {
                            font-size: 20px;
                            font-size: 1.4vw;
                        }

                        @media @screen-mega-above {
                            font-size: 20px;
                        }

                    }

                    i {

                        @media @screen-small-above {
                            font-size: 20px;
                        }

                        &:hover {
                            color: #333;
                        }
                    }

                    .twitter {
                        position: absolute;
                        bottom: 8px;
                        right: 60px;

                        @media @screen-small-above {
                            position: static;
                            float: left;
                            margin-right: 25px;
                            padding-top: 10px;
                        }

                        @media @screen-medium-above {
                            position: static;
                            padding-top: 15px;
                        }
                    }

                    .facebook {
                        position: absolute;
                        bottom: 9px;
                        right: 30px;

                        @media @screen-small-above {
                            position: static;
                            padding-top: 10px;
                        }

                        @media @screen-medium-above {
                            padding-top: 15px;
                        }

                    }


                }

            } // menu

        } //header



    } //top-section end

//content wrappers

.posts-wrapper, .text-wrapper {
    background-color: #fff;
    margin-bottom: 0;

    @media @screen-medium-above {
        margin: 30px 0px;
        padding: 0 30px;
    }
}

//photo post start

#post {
    height: 99%;
    overflow: hidden;
}

//text posts
#text {
    background-color: #fff;
    color: #222;
    .post-body {
        margin: 0 auto;
        padding: 50px 20px 80px 20px;
        h2 {
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }

        h3 {
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
        }

        h5 {
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }

        p {
            font-size: 13px;
            padding: 0;
            margin-bottom: 10px;
        }

        img {
            max-width: 100%;
            display: block;
            margin: 30px auto;
        }

        .look-branding {
            text-align: center;
            margin-bottom: 15px;

            img {
                display: block;
                margin: 0 auto;
                max-width: 80px;
                background-color: @brand-primary;
            }

            h5 {
                font-size: 16px;
                text-transform: uppercase;
                font-weight: bold;
                padding: 5px 0px 10px;
                border-bottom: 3px solid @brand-primary;
                display: inline-block;
            }
        }
        @media @screen-small-above {
            padding: 100px 0;
            max-width: 660px;

            h2 {
                font-size: 50px;
            }

            h3 {
                font-size: 22px;
            }

            p {
                font-size: 20px;
                margin-bottom: 20px;
            }

            img {
                display: block;
                margin: 50px auto;
            }
        }
    }
    .main-content {

        padding: 15px;

        @media @screen-small-above {
            padding: 0 15px;
            width: 65.9%;
        }
    }

    .row {
        margin: 0;

        @media @screen-medium-above {
        margin: 0 -15px;
        }
    }

    @media @screen-small-above {
        padding-top: @grid-gutter-width;
    }

    .title-section {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: fixed;

        .caption {
            color: #fff;
            text-shadow: 2px 2px 2px #000;
            padding: 5px;
            text-align: right;
            font-size: 12px;
            font-family: georgia, serif;
        }
    }

    .about {
        background: transparent url('http://stage-apps.npr.org/lookatthis/tumblr/assets/about-look.jpg') no-repeat;
        background-size: cover;
        margin-bottom: 40px;

        h1 {
            padding: 30% 0;
            text-align: center;
            color: #fff;
            text-shadow: 2px 2px 12px #000;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 5.5vw;
        }

        @media @screen-small-above {
            h1 {
                 font-size: 3vw;
            }
        }
    }

}//#text


//index page start



#posts {

    .row {
        margin: 0;

        @media @screen-medium-above {
        margin: 0 -15px;
        }
    }

    @media @screen-small-above {
        padding-top: @grid-gutter-width;
    }

    .post {
        .make-sm-column(4);
        padding: 5px;

        @media @screen-small-above {
            padding: 0 15px;
        }

    }

    header + .post {
        float: none;

        @media @screen-small-above {
            width: 65.9%;
            padding: 0;
        }

        .post-wrapper {
            margin-bottom: 0;
            height: 100%;

            .caption-wrapper {

                top: 20%;

                @media @screen-small-above {
                    top: 30%;
                }

                .caption {

                    margin: 0 auto;
                }

                h2 {
                    font-size: 24px;
                    padding: 5px;

                    @media @screen-small-above {
                        font-size: 36px;
                    }

                    @media @screen-medium-above {
                        font-size: 48px;
                        padding: 10px;
                    }
                }

                h3 {

                    font-size: 14px;
                    padding: 5px;

                    @media @screen-small-above {
                        font-size: 18px;
                    }

                    @media @screen-medium-above {
                        font-size: 28px;
                        padding: 10px;
                    }

                }

                p {
                    font-size: 16px;

                }
            }

            &:after {
                font-size: 17px;
                padding: 30px 15px;
            }


        }
    }

    .post-wrapper {
        position: relative;
        background-color: @brand-primary;
        .transition(all .6s ease-in);
        overflow: hidden;
        @media @screen-small-above {
            margin-bottom: @grid-gutter-width;
        }

        img {
            width: 100%;
           .transition(all .3s ease-in);
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        .caption-wrapper {
            position: absolute;
            top: 20%;
            left: 0;
            width: 100%;
            opacity: 6;
            .text-shadow(2px 2px 8px #111);

            .caption {
                //padding: 0 20px;
                text-align: center;

                a {
                    width: 100%;
                    display: inline-block;
                }

                h2 {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 22px;
                    color: #fff;
                    margin: 0;
                    padding: 5px;
                    text-decoration: none;
                    .transition(all .2s ease-in);

                    @media @screen-small-above {
                        font-size: 18px;
                    }

                    @media @screen-medium-above {
                        font-size: 24px;
                        padding: 10px;
                    }
                }

                h3 {
                    font-family: georgia, serif;
                    font-size: 12px;
                    margin: 0;
                    padding: 5px;
                    color: #fff;
                    text-decoration: none;
                    line-height: 1.3;
                    font-style: italic;
                    .transition(all .3s ease-in);

                    @media @screen-small-above {
                        font-size: 12px;
                    }

                    @media @screen-medium-above {
                        font-size: 15px;
                        padding: 10px;
                    }
                }

                p {
                    font-family: georgia, serif;
                    font-size: 10px;
                    color: #fff;
                    text-decoration: none;
                    font-style: italic;
                    .transition(all .3s ease-in);
                    position: relative;
                    z-index: 1;
                    margin: 0;
                    display: none;

                    @media @screen-small-above {
                        display: block;
                        font-size: 12px;
                    }

                    @media @screen-medium-above {
                        font-size: 14px;
                    }
                }

                blockquote {display: none;}
            }
        }

        .story-link {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }


        @media @screen-small-above {
            &:hover {

                h2, h3, p {
                    //background-color: @brand-primary;
                    //background-color: rgba(246, 0, 98, 0.7);
                    text-shadow: none;
                }

                img {
                  opacity: .5;
                }

            }
        }

    }// post wrapper
}


