@import "./lib/font-awesome/font-awesome.less";
@import "./lib/prefixer.less";

// Core variables and mixins
@import "./lib/bootstrap/variables.less";
@import "./lib/bootstrap/mixins.less";

// Reset
@import "./lib/bootstrap/normalize.less";
@import "./lib/bootstrap/print.less";

// Core CSS
@import "./lib/bootstrap/scaffolding.less";
@import "./lib/bootstrap/type.less";
// @import "code.less";
@import "./lib/bootstrap/grid.less";
// @import "tables.less";
// @import "forms.less";
// @import "buttons.less";

// Components
// @import "component-animations.less";
// @import "glyphicons.less";
// @import "dropdowns.less";
// @import "button-groups.less";
// @import "input-groups.less";
// @import "navs.less";
// @import "navbar.less";
// @import "breadcrumbs.less";
@import "./lib/bootstrap/pagination.less";
// @import "pager.less";
// @import "labels.less";
// @import "badges.less";
// @import "jumbotron.less";
// @import "thumbnails.less";
// @import "alerts.less";
// @import "progress-bars.less";
// @import "media.less";
// @import "list-group.less";
// @import "panels.less";
// @import "wells.less";
// @import "close.less";

// Components w/ JavaScript
// @import "modals.less";
// @import "tooltip.less";
// @import "popovers.less";
// @import "carousel.less";

// Utility classes
@import "./lib/bootstrap/utilities.less";
@import "./lib/bootstrap/responsive-utilities.less";

// Breakpoints
@screen-mega-above: ~"screen and (min-width: 1440px)";
@screen-large-above: ~"screen and (min-width: 1201px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 992px)";
@screen-medium: ~"screen and (max-width: 991px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";

body {
    background: #fff;

    &.permalink-page {
        
        padding-top: 20px;
        
        @media @screen-small-above {
                padding-top: 30px;
        }
        
    }
}

.container-fluid {
    .center-block;
    max-width: 1400px;
    padding-left: 15px;
    padding-right: 15px;

    .index-page & {
        max-width: 1070px;
    }

    .row > header {
        .make-md-column(3);
    }
}

.npr img {
    height: 24px;
    margin-bottom: 7px;
    @media @screen-small-above {
         height: 24px;
         margin-bottom: 15px;
    }
}

.blog-header {
    background: @brand-primary;
    position: relative;
    z-index: 150;
    padding-top: 20px;

    .blog-title {
        .make-sm-column(12);
        .make-md-column(8);
        .make-md-column-offset(2);
    }

    h1 {
        margin: 5px 0;
        font-size: 26px;
        letter-spacing: 3px;
        text-align: center;
        
        @media @screen-small-above {
            font-size: 36px;
        }

        a {
            
            color: #fff;
            text-transform: uppercase;
            line-height: 1.1;
            margin-left: -0.05em;
            text-decoration: none;
        }
    }

    h2 {
        margin: 0;
        text-align: center;
    }

    .description {
        color: #fff;
        font-family: @font-family-serif;
        font-size: 14px;
        -webkit-font-smoothing: antialiased;
        margin-bottom: @line-height-computed;
        text-align: center;
        
        @media @screen-small-above {
            font-size: 18px;
        }

        a {
            color: #fff;
            opacity: 0.8;
            margin-left: 20px;
        }
    }

    @media screen and (min-width: 651px){
        padding-top: 30px;
    }
}


//header nav
nav {
    
    .permalink-page & {
        //background: @look-pink;
    }
    
    #header-nav {
        .make-sm-column(12);
        .make-md-column(8);
        .make-md-column-offset(2);
        margin-bottom: 0;
        
        @media @screen-medium-above {
           border-bottom: 1px solid #ddd;
           padding-bottom: 20px;
        }
        
        .permalink-page & {
            
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
            
            
        }
        
        ul {
            width: 247px;
            padding: 20px 0 0 0;
            margin: 0 auto;
            list-style-type: none;
            @media @screen-small-above {
                padding: 30px 0 0 0;
                width: 308px;
            }
            
        }

        li {
            float: left;
            padding: 0 10px;
            font-size: 11px;
            border-left: 1px solid #777;
            line-height: 1;
            
            &:first-child{
                border: none;            
            }
            
            @media @screen-small-above {
                padding: 0 15px;
                font-size: 13px;
            }
        }

        a {
            color: #444;
            font-family: @font-family-headline;
            text-transform: uppercase;
            text-decoration: none;
            
            &:hover {
                color: @look-pink;
            }
        }
    }
}


.fixed-nav {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    overflow: hidden;
    background: @brand-primary;
    content: ' ';
    z-index: 100;
    width: 100%;
    padding: 0 15px;
    font-family: @font-family-headline;

    @media screen and (max-width: 650px){
        .permalink-page & {
            position: absolute;
            top: 40px;
            margin-bottom: 60px;
            
            .nav-wrapper {
                display: block;
                width: 250px;
                margin: 0 auto;
            }
        }

        .index-page & {
            display: none;
        }
    }

    .nav-wrapper {
        display: table-cell;
        vertical-align: middle;
        height: 40px;
        overflow: hidden;
    }

    h1,
    h2,
    p {
        display: inline;
        margin: 0 10px 0 0;
        line-height: 32px;
        position: relative;
    }

    h1 {
        text-transform: uppercase;
        font-size: 19px;
    }

    h1,
    p { top: -3px; }

    h2 { top: -1px; }

    .npr {
        a {
            
            height: 22px;
            line-height: 25px;

            img {
                display: inline-block;
                margin-bottom: 0;
                height: 20px;
            }
        }
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    .social {
        font-size: @font-size-large;
        margin-left: @grid-gutter-width / 2;

        a {
            margin-right: @grid-gutter-width / 2;
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
        }

        @media screen and (max-width: 480px) {
            display: none;
        }
    }

    .is_lightbox & {
        z-index: 1;
    }
}

.permalink-page {
    background: #fff;

    #post-wrap .post .post-content-wrapper {
        .box-shadow(transparent 0 0 0);
        padding: 0;
    }
}

#post-wrap {
    .make-sm-column(12);
    margin-bottom: 20px;

    .permalink-page & {
        .make-sm-column(12);
        .make-sm-column-offset(0);
    }

    position: relative;
    z-index: 20;
    padding-top: 20px;
    
    @media @screen-small-above {
            padding-top: @line-height-computed * 2;
    }
    

    .permalink-page & {
        padding-top: 0;
    }

    .post {
        padding-top: 10px;
        margin-bottom: @line-height-computed;
        .clearfix();
        
        h3 {
            margin-top: 0;
            line-height: 1.1;
            margin-bottom: @line-height-computed;
        }

        blockquote {
            padding: 0 0 0 15px;
            margin: 0 0 24px;
            border-left: 1px solid #eeeeee;
            font-family: @font-family-serif;
            font-style: italic;

            p {
                font-size: @font-size-base;
                font-weight: normal;
                margin-bottom: @line-height-computed;

                @media (min-width: @screen-lg){
                    font-size: @font-size-base * 1.125;  // 16px * 1.125 = 18px
                    margin-bottom: @line-height-computed * 1.125 / 2;
                }
            }
        }

        ol,
        ul {
            margin-left: 15px;
        }


        @media (min-width: @screen-lg){
            .caption,
            .text-wrapper {
                font-size: @font-size-base;  // 16px

                p,
                blockquote p {
                    margin-bottom: @line-height-computed * 1.125 / 2;
                }
            }
        }

        &.answer {
            .qa-asker {
                font-size: 14px;
                line-height: 40px;
                font-weight: bold;
                background-color: #f1f1f1;
                display: inline-block;
                padding-right: 11px;
                margin-bottom: 11px;

                img {
                    float: left;
                    margin: 0 11px 0 0;
                }
            }
            .qa-question {
                margin-bottom: 44px;
                font-weight: bold;
                line-height: 1.6;
                font-size: 120%;
                color: #333;
            }
        }

        &.photo,
        &.photoset {
            img {
                width: auto;
                margin: 0 auto @line-height-computed;
            }

            .html_photoset {
                overflow: hidden; 
            }
        }


        // Full width permalink page photos and videos
        &.photo,
        &.panorama,
        &.video {
            .permalink-page & {
                .post-content {
                    width: 100%;
                    position: static;
                    margin: 0;

                    .post-content-wrapper {
                        .make-row();
                    }

                    .media-wrapper {
                        .make-sm-column(12);
                    }

                    .caption,
                    .post-meta {
                        .make-sm-column(10);
                        .make-sm-column-offset(1);
                        .make-md-column(8);
                        .make-md-column-offset(2);
                    }
                }
            }
        }

        &.photo,
        &.photoset,
        &.panorama,
        &.video,
        &.link,
        &.audio,
        &.text,
        &.quote,
        &.answer {
            .caption {
                p:empty {
                    display: none;
                }
            }

            // .post-meta {
            //     @media (min-width: @screen-sm){
            //         .pubdate,
            //         .note-count,
            //         .tags {
            //             display: block;
            //             margin-left: 0;
            //             position: static;
            //         }
            //     }
            // }
        }

        &.photoset {
            iframe {
                margin: 0 auto @line-height-computed;
                display: block;
                max-width: 100%;
            }
            
            .photoset-250 { display: none; }
            
            @media (max-width: @screen-xs-max) {
                .photoset-250 { display: block; }
                .photoset-500 { display: none; }
            }

            // Constrain permalink photosets to 700px
            .permalink-page & {
                .post-content,
                .post-header,
                .post-notes h3,
                .post-notes .notes,
                .pagination-index {
                    max-width: 700px;
                    width: 100%;
                    float: none;
                    margin: 0 auto @line-height-computed;
                }
            }
        }

        &.video {
            .video-container {
                position: relative;
                width: 100%;
                padding-bottom: 0;

                .center-block;

                &.vine-embed { width: 100%; }
                &.nine-by-sixteen { padding-bottom: 175.7777778%; }
                &.sixteen-by-nine { padding-bottom: 56%; }
                &.square { padding-bottom: 100%; }
                &.spotify { padding-bottom: 89.7435%; }

                iframe { max-width: 100%; .center-block; }

                a {
                    position: absolute !important;
                    width: 100% !important;
                    height: 100% !important;
                }

                .tumblr_video_container {
                    width: 100% !important;
                    height: 100% !important;
                }

            }

            .tumblr_video_iframe,
            .video-container img, {
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .video-container {
                margin-bottom: @line-height-computed/2;
                a {
                    max-width: 100%;
                }
            }
        }

        &.chat {
            .conversation {
                margin-left: 0;
            }

            li {
                list-style: none;

                .person {
                    font-weight: bold;
                }
            }
        }

        &.quote {
            .quote-wrapper {
                blockquote {
                    border-left: none;
                    font-size: @font-size-base * 2;
                    line-height: @line-height-computed * 1.7;
                    text-indent: -0.46em;
                    margin-left: -0.46em;

                    &.long {
                        font-size: @font-size-base * 1.5;
                        line-height: 1.3;
                    }

                    &.medium {
                        font-size: @font-size-base * 2;
                        line-height: @line-height-computed * 1.7;
                    }

                    &.short {
                        font-size: @font-size-base * 3;
                        line-height: @line-height-computed * 2;
                        margin-left: -0.25em;
                    }
                }

                p {
                    margin-bottom: 0;
                }

                @media (max-width: @screen-xs-max) {
                    //font-size: @font-size-base * 1.5;
                }

            }

            .source {
                font-family: @font-family-headline;
                text-transform: uppercase;
                font-style: normal;
                color: @gray;
            }
        }

        &.text {
            img {
                width: 100%;
            }

            .text-wrapper {
                p {
                    font-family: @font-family-sans-serif;
                }

                p:empty {
                    display: none;
                }
            }

            .read_more {
                background: @brand-primary;
                color: #fff;
                font-family: @font-family-headline;
                text-transform: uppercase;
                font-weight: bold;
                padding: 5px;

                &:after {
                    font-family: FontAwesome;
                    content: '\f105';
                    color: #fff;
                    padding-left: 10px;
                }

                &:hover {
                    color: @brand-primary;
                    background: transparent;
                    text-decoration: none;

                    &:after {
                        color: inherit;
                    }
                }
            }
        }

        &.link {
            h3 {
                font-weight: bold;

                .icon {
                    font-size: @font-size-base;
                }
            }
        }

        &.text,
        &.link,
        &.chat {
            // Constrain permalink text/link/chat posts to 640px so inline photos don't get super blurry
            .permalink-page & {
                .post-content,
                .post-header,
                .post-notes h3,
                .post-notes .notes,
                .pagination-index {
                    max-width: 640px;
                    width: 100%;
                    float: none;
                    margin: @line-height-computed auto;
                }
            }

            h3 {
                font-weight: bold;
                text-transform: uppercase;

                a {
                    color: @brand-primary;
                    line-height: 1.2;

                    &:hover {
                        background: @brand-primary;
                        color: #fff;
                        text-decoration: none;
                    }
                }

                @media screen and (max-width: @screen-xs-max){
                    font-size: @font-size-base * 1.5; //24px
                }
            }
        }

        .pubdate,
        .note-count {
            font-family: @font-family-headline;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 25px;
            color: @gray-light;
            margin-bottom: 0;

            .permalink {
                color: @gray-light;

                &:hover {
                    color: @brand-primary;
                    text-decoration: none;
                }
            }
        }

        .pubdate {
            .index-page & {
                margin-bottom: @line-height-computed / 2;
            }
        }

        .note-count {
            margin-right: 10px;
            margin-bottom: 0;
            float: left;
        }

        .sharing {
            float: right;
            overflow: hidden;
        }

        .like_button,
        .reblog_button {
            display: inline-block !important;
            height: 20px;
            overflow: hidden;
            margin-left: 10px;

            .touch & {
                margin-left: 25px;
            }
        }

        .post-header {
            .index-page & {
                .make-sm-column(10);
                .make-sm-column-offset(1);
                // .make-sm-column-pull(2);
                .make-md-column(8);
                .make-md-column-offset(2);
                // .make-md-column-pull(2);

                &:before {
                    display: block;
                    content: ' ';
                    border-top: 1px solid #ddd;
                    margin-top: 5px;
                    margin-bottom: @line-height-computed;
                }
            }

            .permalink-page & {
                .make-sm-column(10);
                .make-sm-column-offset(1);
                .make-md-column(8);
                .make-md-column-offset(2);
            }

            .note-count {
                .icon {
                    .opacity(50);
                }
            }

            .sharing {
                float: right;
                overflow: hidden;
            }

            @media screen and (min-width: @screen-sm){
                line-height: 1.4;

                .pubdate {
                    display: block;
                }

                .sharing {
                    float: none;
                }
            }
        }

        .post-content {
            .index-page & {
                .make-sm-column(10);
                .make-sm-column-offset(1);
                .make-md-column(8);
                .make-md-column-offset(2);
            }

            .permalink-page & {
                .make-sm-column(10);
                .make-sm-column-offset(1);
                .make-md-column(8);
                .make-md-column-offset(2);
            }
        }

        .permalink-page & {
            .pubdate {
                float: left;
            }

            .sharing {
                float: right;
            }
        }

        .post-notes {
            .make-row();

            h3 {
                .make-sm-column(10);
                .make-sm-column-offset(1);
                .make-md-column(8);
                .make-md-column-offset(2);
                font-weight: normal;
                line-height: 1;
                text-transform: uppercase;
                font-weight: bold;
                color: @gray-dark;
                margin-bottom: @line-height-computed;

                &:before {
                    display: block;
                    content: '';
                    width: 100%;
                    border-top: 1px solid @gray-lighter;
                    margin-top: @line-height-computed;
                    padding-top: @line-height-computed;
                }
            }
            .notes {
                .make-sm-column(10);
                .make-sm-column-offset(1);
                .make-md-column(8);
                .make-md-column-offset(2);
                list-style: none;
                margin-left: 0;

                li {
                    margin-bottom: @line-height-computed / 2;
                    font-size: @font-size-small;

                    .clear {
                        .clearfix;
                    }

                    .avatar {
                        float: left;
                        margin: 0 10px 0 0;
                        width: auto;
                        .square(32px);
                        .border-radius(16px);
                    }

                    .action {
                        line-height: 1.2;
                    }


                    .clear + blockquote {
                        margin-top: @line-height-computed / 2;
                        margin-left: 42px;

                        a {
                            color: @gray-light;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    &.more_notes_link_container {
                        margin: @line-height-computed 0 @line-height-computed * 2;
                        text-align: left !important;
                    }

                    .more_notes_link {
                        color: #fff;
                        background: @brand-primary;
                        padding: 5px;
                        font-family: @font-family-headline;
                        text-transform: uppercase;
                        font-weight: bold;

                        &:hover {
                            color: @brand-primary;
                            background: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        &.photoset .post-notes {
            h3,
            .notes {
                max-width: 700px;
            }
        }

        &.text .post-notes {
            h3,
            .notes {
                max-width: 640px;
            }
        }

        .pagination-index {
            .make-sm-column(10);
            .make-sm-column-offset(1);
            .make-md-column(8);
            .make-md-column-offset(2);
            margin-top: @line-height-computed * 2;
            margin-bottom: @line-height-computed;

            a {
                font-family: @font-family-headline;
                text-transform: uppercase;
                font-weight: bold;
                color: @brand-primary;
                padding: 5px 0;

                &:hover {
                    color: #fff;
                    background: @brand-primary;
                    text-decoration: none;
                }
            }
        }
        
    }
    
    #posts > .post:first-child .post-header:before {
        display: none;
    }

    #footer {
        .make-row();
    }

    .pagination {
            position: relative;
            .buttons {
                .left,
                .right {
                    position: absolute;
                }
                .left {
                    left: 0;
                }
                .right {
                    right: 0;
                }

                a {
                    color: @music-medium;
                }
            }

            .count {
                text-align: center;
                color: @music-light;
            }

            li {
                list-style: none;
            }

    }

    .pagination-index {
        a {
            color: @music-medium;
            -webkit-font-smoothing: antialiased;
        }
    }
}


//Tag Page: custom layout for all tag pages
.tag-page {
    
    .tag-header {
        position: relative;
        text-align: center;
        text-transform: capitalize;
        font-family: georgia, serif;
        font-size: 20px;
        padding-bottom: 10px;
        margin: 0;
        
        @media @screen-small-above {
            font-size: 40px;
            padding-bottom: 15px;
            margin: 0 0 30px 0;
        }
        
        @media @screen-medium-above {
            font-size: 60px;
            padding-bottom: 20px;
        }
        
    }
    
    .tag-header:after {
        content:""; 
        background: @look-pink; 
        position: absolute; 
        bottom: 0; 
        left: 39%; 
        width: 21.9%; 
        height: 2px;
        
        @media @screen-medium-above {
            left: 36%; 
            width: 27.5%;
            height: 3px;
        }
    }
    
    #post-wrap {
        
        .post {
            &:before,&:after {display: none;}
        }
        
        #posts > .post:nth-child(2n) {
            .clearfix();
        }
        
        .post {
            padding-top: 0;
            //posts tagged features
            &.stories {
                
                
                
                .post-header,
                .post-meta {
                    display: none;
                }
                
                .post-content {
                    .make-sm-column(10);
                    .make-sm-column-offset(1);
                    .make-md-column(6);
                    .make-md-column-offset(3);
                    
                    margin-bottom: 20px;
                    
                    .text-wrapper {
                        img {
                            margin: 15px 0;
                            border: 2px solid #fff;
                                &:hover {
                                    border: 2px solid @look-pink;
                                }
                            }
                        p {
                            font-family: georgia, serif;
                            font-size: 14px;
                            margin: 0;
                            
                            a {
                               color: #000;
                               text-decoration: none; 
                            }
                            
                            strong, b {
                                font-family: 'Gotham SSm', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                                font-size: 18px;
                                font-weight: normal;
                                color: @look-pink;
                                
                                a {color: @look-pink;}
                                
                            }
                            
                            
                        }
                    }
                }
            }
            
        }
    } 
}

// Center logged-in tumblr controls in fixed nav bar
#tumblr_controls[height="26"] {
    margin-top: 5px;
}

@media screen and (max-width: 650px){
    #tumblr_controls {
        position: absolute;

        .permalink-page & {
            top: 2px;
            right: 0;
        }

        .index-page & {
            top: 2px;
            right: 0;
        }
    }

    body {
        border-top: 40px solid #333;
    }

}

