<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>{{ COPY.post_metadata.title }}</title>

    <!-- META TAGS -->
    {% include '%s/templates/_meta.html' % slug %}

    <!-- FONTS -->
    {% include '%s/templates/_fonts.html' % slug %}
    <style>body {overflow-y: hidden;}</style>

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}

    {% if AUDIO %}
    {{ CSS.push('less/audio.less') }}
    {% endif %}

    {% if VIDEO %}
    {{ CSS.push('less/video.less') }}
    {% endif %}

    {% if FILMSTRIP %}
    {{ CSS.push('less/filmstrip.less') }}
    {% endif %}

    {% if PROGRESS_BAR %}
    {{ CSS.push('less/progress-bar.less') }}
    {% endif %}

    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    {% include '%s/templates/_social_tags.html' % slug %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body class="deck-container">
    <!-- ANALYTICS JAVASCRIPT -->
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-header.min.js') }}
    <script src="js/lib/modernizr.js"></script>

    {% block outer_content %}

    {% block header_content %}
    {% endblock header_content %}

    {% block content %}
    {% endblock content %}
    {% block wide_content %}
    {% endblock wide_content %}

    {% endblock outer_content %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/jquery.cookie.js')}}
    {{ JS.push('js/lib/swiper.js')}}
    {{ JS.push('js/lib/imgLiquid.js')}}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/app.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    {# Setup Chartbeat last! #}
    <script type="text/javascript">
        $(ANALYTICS.setupChartbeat);
    </script>
</body>
</html>
