{% block slide_wrapper %}
<div class="swiper-slide {{ row.template }} {{ row.extra_class }}" data-hash="{{ row.id }}" id="{{ row.id }}" data-template="{{ row.template }}">

        {% block slide_content %}
        {% endblock slide_content %}

    {% if row.background_media %}

    <div class="imgLiquid">
        <img class="liquid" {% if row.preload_image == 'yes' %} src="assets/{{ row.background_media }}" {% else %} data-bgimage="{{ row.background_media }}" {% endif %}>
        <span class="slide-gradient"></span>
    </div>

    {% endif %}
</div><!-- /slide -->
{% endblock slide_wrapper %}
