<div class="slide" id="{{ row.id }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}">
    <div class="next-post">
        <div class="previous-post">
            <p><em>You just looked at</em></p>
            <h2>{{ COPY.tumblr.title }}</h2>
            <img src="assets/{{ COPY.tumblr.thumbnail_photo }}">
            <div class="share">
                <a class="share" data-toggle="modal" data-backdrop="static" data-target="#share-modal">
                    <div class="share-button"></div>
                    <h5>Share</h5>
                </a>
            </div>
        </div>
        <div class="up-next">
            <a href="{{ row.text3 }}">
            <img src="assets/{{ row.media }}">
            <div class="up-next-caption-wrapper">
                <div class="up-next-caption">
                        <p><em>Up Next</em></p>
                        <h2 class="next-post-title">{{ row.text1 }}</h2>
                        <p><em>{{ row.text2 }}</em></p>
                </div>
            </div>
            <div class="next-button-wrapper">
                <div class="next-button">
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
