{% block slide_wrapper %}
<div class="slide imgLiquidFill imgLiquid {% if row.template != 'slide' %} {{ row.template }}{% endif %}{% if row.extra_class %} {{ row.extra_class }}{% endif %}" id="slide-{{ row.id }}">
    <img class="liquid" data-bgimage="{{ row.background_media }}">
    {% block slide_body %}
    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                {% block slide_content %}{% endblock slide_content %}
            </div><!--full-block-content-->

            {% if row.caption_and_credit %}
            <div class="credit">
                {{ row.caption_and_credit|smarty }}
            </div>
            {% endif %}

        </div><!--full-block-cell-->
    </div><!--full-block-->
    {% endblock slide_body %}
</div><!--slide-->
{% endblock slide_wrapper %}
