.slide.audio {
    
    .full-block-cell {
        padding: 20px 60px 50px 60px;
        background: rgba(0,0,0,0.8);
        vertical-align: middle;
        
        @media @screen-medium-above {
            padding: 0;
            background: rgba(0,0,0,0.4);
        }
        
        .full-block-content {
            padding: 0;
            @media @screen-small-above {padding: 20px 100px;}
        }
    }
    
    /* blurred background
    .imgLiquid {
        -webkit-filter: blur(8px); filter: blur(8px);
    }
    */
    
    .side-by-side-wrapper {
        display: table;
        margin: 0 auto;
                
        .first-side {
            max-width: 600px;
    
            @media @screen-medium-above {
                display: table-cell;
                width: 50%;
    
                /*
                img {
                    position: relative;
                    left: -20px;
                }*/
            }
            
            h3 {
                color: #111;
            }
    
             img {
                display: block;
                height: auto;
                display: block;
                margin: 0 auto;
                width: 100%;
                max-width: 300px;
                
                @media @screen-small-above {
                    max-width: 600px;
                }
                
                @media @screen-medium-above {
                    max-width: 100%;
                }
            }

        }

        .second-side {
                    vertical-align: middle;
                    min-height: 100px;
                    max-width: 300px;
                
                    @media @screen-small-above {
                        max-width: 600px;
                    }
                    
                    @media @screen-medium-above {
                        max-width: 100%;
                    }

                    @media @screen-small-above {
                        padding: 10px 0;
                        margin-bottom: 20px;
                    }

                    @media @screen-medium-above {
                        padding: 20px;
                        background-color: rgba(0, 0, 0, 0.8);
                        display: table-cell;
                        vertical-align: middle;
                        width: 50%;

                    }

                    .purchase {
                        margin: 0 auto;
                        font-family: "Gotham SSm", helvetica, arial, sans-serif;
                        color: #ccc;
                        margin-top: 20px;
                        
                        @media @screen-medium-above {
                            width: 60%;
                        }
                        
                        
                        a {
                            color: #fff;
                        }
                        
                        h5 {
                            font-family: "Gotham SSm", helvetica, arial, sans-serif;
                            text-transform: uppercase;
                            font-weight: bold;
                            font-size: 12px;
                            margin: 0;
                        }
                        
                        ul {
                            margin: 5px 0;
                            padding: 0;
                            list-style-type: none;
                            
                            li {
                                font-size: 11px;
                                font-family: "Gotham SSm", helvetica, arial, sans-serif;
                                margin: 0;
                                
                                i {padding-right: 5px;}
                            }
                        }
                        
                        p {
                            font-family: "Gotham SSm", helvetica, arial, sans-serif;
                            font-size: 11px;
                            font-style: italic;
                            line-height: 1;
                        }
                    }

                   
                }
    }
            
    .track-description {
        color: #fff;
        margin: 0 auto;
        padding-bottom: 10px;
        
        @media @screen-medium-above {
            width: 60%;
        }
        
        h4 {
            font-size: 20px;
            @media @screen-small-above {
              font-size: 32px;  
            }
        }
        
        h5 {
            font-size: 16px;
            
            @media @screen-small-above {
              line-height: 1.5;
            }
        }
    }
    
    

    .player {
        position: fixed;
        z-index: 2;
        bottom: 0;
        left: 0;
        height: 35px;
        width: 100%;
        margin: 0 auto;
        
        @media @screen-small-above {
            position: relative;
            bottom: auto;
            left: auto;
        }
        
        @media @screen-medium-above {
            width: 60%;
        }
    
        .controls {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
    
            .control-group {
                width: 100%;
                margin: 0 auto;
                position: relative;
                @media @screen-medium-above {
                    max-width: 600px;
                }
            }
    
            .control-btn {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 2;
                width: 55px;
                height: 55px;
                .transition(opacity 1s linear);
                color: #fff;
                background-color: #000;
                display: block;
                text-decoration: none;
                
                @media @screen-small-above {
                    position: relative;
                    width: 35px;
                    height: 35px;
                    background-color: #fff;
                    color: #000;
                }
    
                &.play{
                    opacity: 1;
                    padding: 15px 0 0 22px;
                    @media @screen-small-above {
                        padding: 6px 0 0 13px;
                    }
                }
    
                &.pause{
                    padding: 15px 0 0 20px;
                    @media @screen-small-above {
                        padding: 6px 0 0 12px;
                    }
                }
    
                &.pause:before {
                    font-family: "FontAwesome";
                    content: "\f04c";
                    font-size: 20px;
                    @media @screen-small-above {
                        font-size: 14px;
                    }
                }
                &.play:before {
                    font-family: "FontAwesome";
                    content: "\f04b";
                    font-size: 20px;
                    @media @screen-small-above {
                        font-size: 14px;
                    }
                }
            }
    
            .player-progress {
                
                cursor: pointer;
                position: relative;
                bottom: 0;
                left: 55px;
                height: 55px;
                padding-right: 55px;
                
                @media @screen-small-above {
                    position: absolute;
                    bottom: 15px;
                    left: 50px;
                    width: 85%;
                    height: 4px; 
                    padding-right: 0;
                }
                
                
    
                .total, .played {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
    
                .total {
                    background-color: rgba(255, 255, 255, 0.5);
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                   
                }
                .played {
                    background-color: #fff;
                    width: 0;
                    height: 100%;
                    z-index: 1;
                    .transition(width 0.5s linear);
    
                    @media @screen-small-above {
                       background-color: #e0e0e0;
                       border: none;
                    }
    
                    &.no-transition {
                        .transition(none);
                    }
                }
            }
        }
    }
}

