<div class="slide" id="{{ row.id }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}">
    <div class="container-fluid next-post">
    <div class="row">

    <div class="primary-column">
        <div class="previous-post">
            <div class="looked-at">
                <p><em>You just looked at</em></p>
                <h2>{{ COPY.tumblr.title }}</h2>
            </div><!-- /looked-at -->
            <img src="assets/{{ COPY.tumblr.thumbnail_photo }}">
            <div class="share">
                <a class="share" data-toggle="modal" data-backdrop="static" data-target="#share-modal">
                    <div class="share-button"></div>
                    <h5>
                        <i class="fa fa-share"></i>
                        Share
                    </h5>
                </a>
            </div>
        </div>
    </div>
    <div class="secondary-column">
        <div class="up-next">
            <a class"next-post-url" href="{{ row.text3 }}">
            <img src="{{ row.media }}">
            <div class="up-next-caption-wrapper">
                <div class="up-next-caption">
                        <p><em>Up Next</em></p>
                        <h2 class="next-post-title">{{ row.text1 }}</h2>
                        <h3><em>{{ row.text2 }}</em></h3>
                </div>

                <div class="next-button-wrapper">
                    <div class="next-button">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
            </div><!-- /next-button-wrapper -->

            </a>
        </div>
    </div>
    </div><!-- row -->
    </div><!-- container -->
</div><!-- slide -->
