<div class="modal fade" id="share-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body clearfix">
                <button type="button" class="share-close" data-dismiss="modal" aria-hidden="true">&times; <em>Close</em></button>
                
                <div class="share-panel share-panel-section">

                <h3>Share your thoughts</h3>

                <p class="share-story"><a href="mailto:?body={{ COPY.post_metadata.email_body|safe }}&subject={{ COPY.post_metadata.email_subject }}" onclick="_gaq.push(['_trackEvent', 'lookatthis:{{ SLUG }}', 'email', 'share-discuss']);"><i class="fa fa-envelope share-icon"></i> <b>Email</b></a></p>

                    <p class="share-story"><a href="https://www.facebook.com/dialog/feed?app_id={{ COPY.post_metadata.facebook_app_id }}&amp;link={{ COPY.post_metadata.share_url|urlencode }}&amp;name={{ COPY.post_metadata.facebook_title|urlencode }}&amp;picture={{ COPY.post_metadata.facebook_image_url|urlencode }}&amp;redirect_uri={{ COPY.post_metadata.share_url|urlencode }}" target="_blank" onclick="_gaq.push(['_trackEvent', 'lookatthis:{{ SLUG }}', 'facebook', 'share-discuss']);"><i class="fa fa-facebook share-icon"></i> <b> Facebook</b></a></p>


                    <p class="share-story">
                        <a href="http://twitter.com/share?text={{ COPY.post_metadata.twitter_text|urlencode }}&amp;url={{ COPY.post_metadata.share_url|urlencode }}" target="_blank" onclick="_gaq.push(['_trackEvent', 'lookatthis:{{ SLUG }}', 'tweet', 'share-discuss']);"><i class="fa fa-twitter share-icon"></i> <b> Twitter </b></a>
                    </p>

                 <div class="story-summary">
                    <p>
                    <b class="summary-text">{{ COPY.post_metadata.story_summary }} {{ COPY.post_metadata.share_url }}</b> </p>




                </div><!-- / story-summary -->

                <div class="email-friend">

                    </div><!-- / email-friend -->
                </div><!-- / share-panel-section -->
 
 
 
<!-- join the conversation 
               
                <div class="share-panel share-panel-section">    
                 
                <h3>Join the conversation</h3>
                <div class="facebook-share share-section">
                    <h4>On Facebook</h4>
                    <ul class="featured-facebook-posts">
                        {% for post in featured.facebook_posts %}
                        {% include '%s/templates/_featured_facebook_post.html' % slug %}
                        {% endfor %}
                        </ul>
            
                </div>
            
                <div class="twitter-share share-section">
                    <h4>On Twitter</h4>
                    <ul class="featured-tweets">
                        {% for tweet in featured.tweets %}
                        {% include '%s/templates/_featured_tweet.html' % slug %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
-->                
                
            </div><!-- / modal-body -->
        </div><!-- / modal-content -->
    </div>
</div><!-- / #share-modal -->
