{# Twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ COPY.post_metadata.twitter_handle }}">
<meta name="twitter:image" content="{{ COPY.post_metadata.twitter_image_url }}" />

{# Facebook #}
<meta property="og:title" content="{{ COPY.post_metadata.facebook_title }}" />
<meta property="og:url" content="{{ COPY.post_metadata.share_url }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ COPY.post_metadata.facebook_text }}" />
<meta property="og:image" content="{{ COPY.post_metadata.facebook_image_url }}" />
<meta property="og:site_name" content="NPR.org" />
<meta property="fb:app_id" content="{{ COPY.post_metadata.facebook_app_id }}" />

{# Google News #}
<meta name="thumbnail" content="{{ COPY.post_metadata.google_news_image_url }}" />
