#cabu, #wolinski {
    @media screen and (min-width: 992px) {
        img {
            min-width: 800px;
            max-width: 800px;
        }
    }
    @media screen and (min-width: 480px) and (max-width: 768px) {
        .box {
            max-width: 592px;
            margin: 0 auto;
        }
    }
}

#intro {
    img {
        float: left;
        width: 200px;
        margin-right: 20px;
        position: relative;
        top: 7px;
    }
}