<div class="slide conclusion filmstrip{% if row.filmstrip_type %} {{ row.filmstrip_type }}{% endif %}" id="{{ row.id }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}" {% if row.media %} data-bgimage="{{ row.media }}" {% endif %}{% if row.filmstrip_directory %} data-filmstrip="{{ row.filmstrip_directory }}" {% endif %}{% if row.filmstrip_length %} data-filmstrip-length="{{ row.filmstrip_length }}" {% endif %}{% if row.filmstrip_type %} data-filmstrip-type="{{ row.filmstrip_type }}" {% endif %}>

    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                {% if row.text1 %}
                    {{ row.text1 }}
                {% endif %}
                
                <div>
                    <a class="share" href="#" data-toggle="modal" data-backdrop="static" data-target="#share-modal">
                        
                        <h5>
                            <i class="fa fa-share"></i>
                            Share
                        </h5>
                    </a>
                </div><!--share-->
            </div><!--content-->
        </div> <!--cell-->
    </div>

    <div class="filmstrip-container"></div> <!-- grid-face -->

</div> <!-- slide -->