<div class="slide single-image {% if row.extra_class %} {{ row.extra_class }}{% endif %}" id="{{ row.id }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}" {% if row.media %} data-bgimage="{{ row.media }}" {% endif %}>

    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content" style="background-image: url({{ row.text1|smarty }})">

            </div><!--full-block-content-->
        </div><!--full-block-cell-->

        {% if row.media %}
            <div class="caption">
                {{ row.caption|smarty }}
            </div>
            <div class="credit">
                {{ row.media_credit|smarty }}
            </div>
        {% endif %}
    </div><!--full-block-->
</div><!--slide-->
