<div class="slide single-image {% if row.extra_class %} {{ row.extra_class }}{% endif %}" id="{{ row.id }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}">

    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content" style="">
                <img src="assets/{{ row.media|smarty }}">
                <div class="box">
                    <div class="credit">
                        {{ row.media_credit|smarty }}
                    </div>
                    <div class="caption">
                        {{ row.text1|smarty }}
                    </div>
                </div>
            </div><!--full-block-content-->
        </div><!--full-block-cell-->
    </div><!--full-block-->
</div><!--slide-->
