<div class="slide single-image {% if row.extra_class %} {{ row.extra_class }}{% endif %}" id="{{ row.id }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}">

    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content" style="background-image: url(assets/{{ row.media|smarty }})">
            </div><!--full-block-content-->
        </div><!--full-block-cell-->

        <div class="caption">
            {{ row.text1|smarty }}
        </div>
        <div class="credit">
            {{ row.media_credit|smarty }}
        </div>
    </div><!--full-block-->
</div><!--slide-->
