{% extends '%s/templates/_slide.html' % slug %}
{% block slide_content %}
<div class="narrative-player">
    <div class="subtitle-wrapper">
        <p class="subtitles"></p>
    </div>
    <div class="controls">
        <div class="control-group">
            <a href="#" class="play control-btn" style="position: absolute; top: 0; left: 0; width: 400px; height: 400px; background: #fff;"></a>
            <div class="player-progress">
                <div class="total"></div>
                <div class="played"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}