.next-post-content {
    max-width: 1000px;

    .up-next-wrapper {
        display: block;
        background-color: #000;

        img {
            width: 50%;
            float: left;
        }
        .up-next-description {
            font-family: Gotham, helvetica, sans-serif;
            float: left;
            width: 45%;
            color: #fff;
            padding-left: 5%;

            h3 {
                font-size: 24px;
                text-transform: uppercase;
            }

            h5 {
                font-size: 12px;
                font-weight: normal;
                font-family: georgia, serif;
                font-style: italic;
            }

            p {
                font-size: 14px;
                font-weight: normal;
                font-family: georgia, serif;
            }
        }
    }

    .project-credits {

    }
}
