.slide-bottom {
    .slide-content-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 4rem;

        img {
            display: block;
            max-width: 80%;
            margin: 1rem auto 4rem auto;
            border: .2rem solid #000;

            @media @screen-small-above {
                max-width: 50rem;
                box-shadow: 2px 2px 2px #111;
            }
        }

        .slide-content-bottom-item {
            max-width: 300px;
            margin: 0 auto;
            padding: 0 20px;

            @media @screen-small-above {
                max-width: 30rem;
                padding: 0;
            }
        }
    }
}
