.start {

    .imgLiquid {
        .slide-gradient {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            background: linear-gradient(to bottom,rgba(0, 0, 0, .6)  10%,rgba(0, 0, 0, 0));
        }
    }

    .look-branding {

        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        text-align: center;
        font-family: "Gotham SSm", helvetica, sans-serif;
        text-shadow: 2px 2px 3px #444;

        img {
            max-width: 50px;
            display: block;
            margin: 0 auto;
            //box-shadow: 1px 1px 8px #444;

            @media @screen-small-above {
                max-width: 4.5rem;
            }
        }

        h5 {
            text-transform: uppercase;
            font-size: 12px;
            padding: 10px 0 5px 0;
            margin: 0 0 10px 0;
            border-bottom: 3px solid #f60062;
            display: inline-block;
            font-weight: normal;

            @media @screen-small-above {
                font-size: .8rem;
            }
        }

        h1 {
            font-size: 11px;
            text-transform: uppercase;
            margin: 0;
            font-weight: bold;
            @media @screen-small-above {
                font-size: .65rem;
            }
        }
    }

    .intro-text {
        text-align: center;
        max-width: 20rem;
        margin: 0 auto;
        text-shadow: 2px 2px 3px #222;

        @media @screen-small-above {
            max-width: 30rem;
        }

        p {
            font-size: 20px;
            @media @screen-small-above {
                font-size: 1.8rem;
            }

        }

        .btn-go {
            text-transform: uppercase;
            background-color: transparent;
            border: 0;
            color: #fff;
            text-shadow: 2px 2px 2px #111;
            font-size: 1rem;
            line-height: 1;
            outline: 0;

            i {
                position: relative;
                top: .26rem;
                font-size: 2rem;
                margin-left: 8px;
            }

            &:hover {
                color: #ffcc33;
            }
        }

    }
    .translate-start {
        text-align: center;

        margin: 40px auto 0 auto;

        @media @screen-small-above {
            max-width: 30rem;
        }

        span {
            position: relative;
            top: 1px;
            font-size: 1rem;
            text-shadow: 2px 2px 2px #111;
            text-transform: uppercase;
            color: #ffcc00;
            font-style: italic;
        }

        .btn-translate {
            display: inline-block;
            text-transform: uppercase;
            background-color: transparent;
            margin: 0 15px;
            padding: 0 0 4px 0;
            border: 0;
            border-bottom: 2px solid #ffcc33;
            color: #ffcc33;
            text-shadow: 2px 2px 2px #111;
            line-height: 1;
            outline: 0;
            font-size: .8rem;

            &:hover {
                color: #fff;
                border-bottom: 2px solid #fff;
            }
        }
    }


}
