<div class="slide quote" id="{{ row.id }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}">

    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                <div class="quote-image contained-image" {% if row.image %} data-bgimage="{{ row.media }}" {% endif %}></div>
                <div class="quote-text">
                    <blockquote>
                        {{ row.text1 }}
                    </blockquote>
                    <cite>
                        {{ row.text2 }}
                    </cite>
                </div><!--big-quote-text-->
            </div><!--full-block-content-->
        </div><!--full-block-cell-->
    </div><!--full-block-->
</div><!--slide-->