<div class="slide titlecard" id="{{ row.id }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}" {% if row.media %} data-bgimage="{{ row.media }}" {% endif %}>

    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                <h2>{{ row.text1 }}</h2>
                <h3>{{ row.text2 }}</h3>

                {% if row.media %}
                    <div class="credit">
                        {{ row.media_credit }}
                    </div>
                {% endif %}
            </div><!--full-block-content-->
        </div><!--full-block-cell-->
    </div><!--full-block-->
</div><!--slide-->