{# text2 is a list of spreadsheets to draw data from #}
{% set graphs = row.text2.split(',') %}

<div class="slide {% if row.extra_class %} {{ row.extra_class }}{% endif %}" id="{{ row.id }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}" {% if row.media %} data-bgimage="{{ row.media }}" {% endif %}>

    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                {% for graph in graphs %}
                <div class="infographic">
                    <div class="infographic-intro">
                        {% if COPY.post_metadata['%s_title' % graph] %}
                        <h2>{{ COPY.post_metadata['%s_title' % graph] }}</h2>
                        {% endif %}
                    </div>
                    <div class="building-wrapper">
                        <div class="building">
                            {% for data_row in COPY[graph] %}
                            <div class="infographic-section{% if data_row.class %} {{ data_row.class }}{% endif %}">
                                <div class="infographic-section-inner" style="height: {{ data_row.height }}vh;">
                                    {% if data_row.number %}
                                    <p class="number-wrapper">
                                        <span class="number">{{ data_row.number|format_number }}</span> 
                                        {% if data_row.percent %}({{ data_row.percent }}%){% endif %}
                                    </p>
                                    <p>
                                        {{ data_row.label }}
                                    </p>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="infographic-copy">
                    {{ row.text1|smarty }}
                </div>
            </div><!--full-block-content-->
        </div><!--full-block-cell-->

        {% if row.media %}
            <div class="caption">
                {{ row.caption|smarty }}
            </div>
            <div class="credit">
                {{ row.media_credit|smarty }}
            </div>
        {% endif %}
    </div><!--full-block-->
</div><!--slide-->

