<div class="slide side-by-side {% if row.extra_class %} {{ row.extra_class }}{% endif %}" id="{{ row.id }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}" {% if row.media %} data-bgimage="{{ row.media }}" {% endif %}>

    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                
                <div class="container-fluid">
                    <div class="row">
                    <div class="col-md-6">
                        {{ row.text1|smarty }}
                    </div>
                    <div class="col-md-6">
                       <img src="assets/book-image.jpg">
                    </div>
                </div><!--container-fluid-->
                
            </div><!--full-block-content-->
        </div><!--full-block-cell-->

    </div><!--full-block-->
</div><!--slide-->
