{% extends '%s/templates/_slide.html' % slug %}
{% block slide_wrapper %}
<div class="swiper-slide {{ row.template }} {{ row.extra_class }} title-screen" data-hash="{{ row.id }}">
    <div class="slide-content">
        <div class="inner-text">
            <div class="titlecard-wrapper">
                <div class="titlecard">
                    <div class="titlecard-intro">
                        {% block slide_content %}
                        {{ row.text1|smarty }}
                        {% endblock %}

                        <span class="in-depth-scroll scroll-button">
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </div>
                    <div class="imgLiquid">
                        <img class="liquid" {% if row.preload_image == 'yes' %} src="assets/{{ row.background_media }}" {% else %} data-bgimage="{{ row.background_media }}" {% endif %}>
                    </div>
                </div>
            </div>
            <div class="in-depth">
                {% include "%s/templates/includes/%s" % (slug, row.extra_html) %}
            </div>

        </div>
    </div>
</div>
{% endblock %}
