{% extends '%s/templates/_slide.html' % slug %}

{% block slide_content %}
<div class="next-post-content">

    <a href="{{ row.text3|smarty }}" class="up-next-wrapper cf">
        <img src="{{ row.foreground_media }}">
        <div class="up-next-description">
            <h5>Up Next</h5>
            <h3>{{ row.text1|smarty }}</h3>
            <p>{{ row.text2|smarty }}</p>
        </div>
    </a>


    <div class="project-credits">
        <h4>Project Credits</h4>
        <div class="media-credit">
            {{ row.media_credit|smarty }}
        </div>

        <h6>Published On: {{ COPY.post_metadata.publish_date|smarty }}</h6>
    </div>

</div>
{% endblock %}
