{% extends '%s/templates/_slide.html' % slug %}
{% block slide_content %}
    <div class="look-branding">
        <img src="assets/npr-logo.png">
        <h5>{{ COPY.en.look_branding }}</h5>
        <h1>{{ row.text2|smarty }}</h1>
    </div>

    <div class="intro-text">
        <div class="lede">
            {{ row.text1|smarty }}
        </div>
        <button class="btn btn-go"><span class="txt">{{ row.text3 }}</span> <i class="fa fa-angle-right"></i></button>
    </div>

    <div class="translate-start">
        <p>
            ( <span>Or read in:</span>
            <!--<button class="btn-translate" data-language="en">English</button>-->
            <button class="btn-translate" data-language="es">Español</button>,
            <button class="btn-translate" data-language="pt">Português</button> )
        </p>
    </div>

{% endblock %}
