{% extends '%s/templates/_slide.html' % slug %}
{% block slide_content %}
    <div class="look-branding">
        <img src="assets/npr-logo.png">
        <h5>Look At This</h5>
        <h1>{{ row.text2|smarty }}</h1>
    </div>

    <div class="intro-text">
        {{ row.text1|smarty }}
        <button class="btn btn-go">{{ row.text3 }} <i class="fa fa-angle-right"></i></button>
    </div>

    <div class="translate">
        <button class="btn-translate eng">English</button>
        <button class="btn-translate sp">Español</button>
        <button class="btn-translate por">Português</button>
    </div>


{% endblock %}
