<div class="slide fixed-image" id="{{ row.id }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}">
    <div class="contained-image-container" data-bgimage="{{ row.media }}">
        <div class="contained-image-text">
            {{ row.text1|smarty }}
        </div>
    </div><!--contained-image-container-->
    {% if row.media %}
        <div class="caption">
            {{ row.caption|smarty }}
        </div>
        <div class="credit">
            {{ row.media_credit|smarty }}
        </div>
    {% endif %}
</div><!--slide-->
