<div class="slide full-bleed {% if row.extra_class %} {{ row.extra_class }}{% endif %}" id="{{ row.id }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}" {% if row.media %} data-bgimage="{{ row.media }}" {% endif %}>

    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                
                <div class="bleed-box">
                    {{ row.text1|smarty }}
                </div>
            </div><!--full-block-content-->
        </div><!--full-block-cell-->

            <div class="caption">
                {{ row.caption|smarty }}
            </div>
    </div><!--full-block-->
</div><!--slide-->
