@import "./lib/bootstrap/bootstrap";
@import "./lib/font-awesome/font-awesome";
@import "./lib/prefixer";
@import "./share-modal.less";
@import "./slides/fixed-image.less";
@import "./slides/quote.less";
@import "./slides/start.less";
@import "./slides/titlecard.less";
@import "./slides/video.less";
@import "./nudges.less";


// Global variables
@img-root: "../assets";

// Breakpoints
@screen-mega-above: ~"screen and (min-width: 1440px)";
@screen-large-above: ~"screen and (min-width: 1201px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 992px)";
@screen-medium: ~"screen and (max-width: 991px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";


body {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-family: "Gotham";
    background-color: #191B1C;
    opacity: 0;
    .transition(opacity 3s ease);
}

//typography

h1,h2,h3,h4,h5,h6,p,ul,ol,li {
    font-family: "Gotham";
}

 h1 {
     font-size: 24px;
     text-transform: uppercase;
     font-weight: bold;
     font-family: "Gotham";

 }

 h2 { font-size: 20px; }
 h3 { font-size: 16px; }


 p, li {
    font-size: 13px;
    line-height: 1.5;
 }

@media @screen-small-above {
    h1 {
        font-size: 90px;
    }
    h2 {
        font-size: 70px;
    }

    h3 {
        font-size: 26px;
    }

    p, li {
        font-size: 20px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

}

.primary-navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    .touch & {
            background-color: rgba(0,0,0,0.8);
            height: 60px;
        }

    .controlArrow {
        position: absolute;
        color: #444;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        @media @screen-small-above {

            &:hover {
                background-color: #fff;
                color: #000;
            }
        }

        @media @screen-small {
            &:active {
                background-color: #000;
                color: #fff;
            }
        }
    }

    .controlArrow {
        width: 50px;
        height: 50px;
        bottom: 20px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        line-height: 47px;
        background-color: #eee;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: none;
        opacity: 0;
        .transition(opacity 0.5s ease);
    }

    .controlArrow.prev {
        right: 105px;

        &:before {
            font-family: "FontAwesome";
            content: '\f104';
        }

        .touch & {
            left: 10px;
            bottom: 5px;
            background-color: #999;

            @media @screen-small-above {
                background-color: #fff;
                left: auto;
                right: 105px;
            }
        }
    }
    .controlArrow.next {
        right: 25px;
        padding: 0 0 0 5px;

        &:before {
            font-family: "FontAwesome";
            content: "\f105"
        }

        .touch & {
            bottom: 5px;
            left: 135px;

            @media @screen-small-above {
                background-color: #fff;
                left: auto;
                right: 25px;
            }
        }
    }
}


// default slide styles
#superContainer {
    height: 100%;
    position: relative;
    /* Touch detection for Windows 8 */
    -ms-touch-action: none;
}
.section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;

    .slides {
        height: 100%;
        overflow: hidden;
        position: relative;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;

        //transition between slides
        .instant {
            .transition(all 0 ease-in);
        }

        .slidesContainer {
            float: left;
            position: relative;
            height: 100%;
            display: block;

            .slide {
                float: left;
                height: 100%;
                display: block;
                overflow: auto;
            }

        }
    }
}

//full-bleed background images on sections and slides
.section, .slide {
    .background-size(cover);
    background-position: center center;
    position: relative;
}

// full width container within a section or slide
.full-block {
    display: table;
    width: 100%;
    height: 100%;


    .full-block-cell {
        display: table-cell;
        vertical-align: top;
        padding-top: 20px;
        @media @screen-small-above {
            padding-top: 0;
            vertical-align: middle;
        }
        width: 100%;
    }


    .full-block-content {
        max-width: 700px;
        margin: 0 auto;
        padding: 20px 40px 80px;
        @media @screen-small-above {
             padding: 20px;
        }
    }
}