.slide.single-image {
    .full-block-cell {
        vertical-align: middle;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .full-block-content {
        max-width: 100%;
        margin: 0 auto;
        @media @screen-small-above {
            max-width: 700px;
        }
        @media @screen-mega-above {
            max-width: 900px;
        }

    }

    .full-block-content:after {
        display: block;
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.8);
        z-index: -1;
        height: 100%;
    }

    // img {
    //     display: block;
    //     max-width: 100%;
    //     max-height: 100%;
    //     margin: 0 auto;

    //     @media @screen-small-above {
    //         border: 10px solid #fff;
    //     }
    // }
}