{% extends '%s/templates/_base.html' % slug %}

{% block header_content %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ COPY.content.project_name|smarty }}</h1>
                <h2>{{ COPY.content.lorem_ipsum|smarty }}</h2>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block content %}
<h1>{{ COPY.content.project_name }}</h1>

<h2>Share and next stuff</h2>

<div class="reblog"></div>
<div class="like"></div>
<div class="share"></div>
<div class="notes"></div>
<div class="next-post">
    <a class="next-post-url">
        <p class="next-post-title"></p>
        <img class="next-post-image">
    </a>
</div>

{% endblock %}

{% block wide_content %}
<div class="row">
    <div class="col-md-12">
        <h2>{{ COPY.content.footer_title }}</h2>
        <p>{{ COPY.content.lorem_ipsum }}</p>
    </div>
</div>
{% endblock %}
