<div {% if row.data_panel %} data-anchor="{{ row.data_panel.lower() }}" {% endif %} class="slide {% if row.extra_class %} {{ row.extra_class }} {% endif %}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}" {% if row.image %} data-bgimage="{{ row.image }}" {% endif %}>

    <div class="text full-block {% if row.text_background == 'yes' %} text-bg {% endif %}">
        <div class="full-block-cell">
            <div class="full-block-content">
                {{ row.text }}
            </div><!--full-block-content-->
        </div><!--full-block-cell-->
    </div><!--full-block-->
</div><!--slide-->