{% extends '%s/templates/_slide.html' % slug %}
{% block slide_content %}
    <div class="learn-more">
        <h3>Learn More</h3>
        <div class="story-description clearfix">
            {{ row.text1|smarty }}
        </div>
    </div>

    <div class="share-panel share-panel-section clearfix">
        <h3>Share your thoughts</h3>
        <p class="share-story"><a href="mailto:?body={{ COPY.sharing.email_body|safe }}&subject={{ COPY.sharing.email_subject }}" onclick="_gaq.push(['_trackEvent', '{{ DEPLOY_SLUG }}', 'email', 'share-discuss']);"><i class="fa fa-envelope icon-mail-alt share-icon"></i> <b>Email</b></a></p>

        <p class="share-story"><a href="https://www.facebook.com/dialog/feed?app_id={{ COPY.sharing.facebook_app_id }}&amp;link={{ COPY.sharing.share_url|urlencode }}&amp;name={{ COPY.sharing.facebook_title|urlencode }}&amp;picture={{ COPY.sharing.facebook_image_url|urlencode }}&amp;redirect_uri={{ COPY.sharing.share_url|urlencode }}" target="_blank" onclick="_gaq.push(['_trackEvent', '{{ DEPLOY_SLUG }}', 'facebook', 'share-discuss']);"><i class="fa fa-envelope icon-facebook share-icon"></i> <b> Facebook</b></a></p>

        <p class="share-story">
            <a href="http://twitter.com/share?text={{ COPY.sharing.twitter_text|urlencode }}&amp;url={{ COPY.sharing.share_url|urlencode }}" target="_blank" onclick="_gaq.push(['_trackEvent', '{{ DEPLOY_SLUG }}', 'tweet', 'share-discuss']);"><i class="fa fa-twitter icon-twitter share-icon"></i> <b> Twitter </b></a>
        </p>

        <p class="share-story disclaimer">
            This site is a product/service of NPR. Use is governed by NPR's <a target="_blank" href="http://www.npr.org/about-npr/179876898/terms-of-use">terms of use</a> and <a target="_blank" href="http://www.npr.org/about-npr/179878450/privacy-policy">privacy policy</a>.
        </p>
    </div><!-- / share-panel-section -->

    <div class="project-credits">
        <h6>Project Credits!</h6>
        {{ row.text2|smarty }}
        <p class="disclaimer">
            This site is a product/service of NPR. Use is governed by NPR's <a target="_blank" href="http://www.npr.org/about-npr/179876898/terms-of-use">terms of use</a> and <a target="_blank" href="http://www.npr.org/about-npr/179878450/privacy-policy">privacy policy</a>.
        </p>
    </div>

{% endblock %}
