<div class="slide audio-reveal" id="{{ row.id }}">

    <div id="the-pic" class="full-block" {% if row.media %} style="background-image:url(assets/{{ row.media }});" {% endif %}>
        <div class="full-block-cell">
            <div class="full-block-content">

<div class="story-intro">
    
    <div class="copy">
        <h4>John Fugelsang is a standup comedian.</h4>
    </div><!--share-list-->
    
    
    
</div><!--story-conclusion-->
        
    </div><!--full-block-content-->
</div><!--full-block-cell-->

    </div><!--full-block-->
</div><!--slide-->