{% extends '%s/templates/_slide.html' % slug %}
{% block slide_content %}
<div class="audio-quote">
       {{ row.text2|smarty }}
    </div>


<div class="narrative-player">
    <div class="quote-bio">
        {{ row.text1|smarty }}
    </div>
    
    
    
    <div class="subtitle-wrapper">
        <p class="subtitles"></p>
    </div>
    <div class="controls">
        <div class="control-group">
            <a href="#" class="play control-btn"></a>
            <div class="player-progress">
                <div class="total"></div>
                <div class="played"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}