{% extends '%s/templates/_slide.html' % slug %}

{% block slide_content %}
<div class="video-bg">
    <video loop>
        <source data-src="http://assets.apps.npr.org.s3.amazonaws.com/lookatthis/chris-clark/{{ row.video }}">
    </video>
</div>

{{ row.text1|smarty }}

<!--
<div class="image-grid">
    {% for image in COPY.image_grid %}
    <div class="block">
        <img src="assets/{{ image.src }}">
        <p>{{ image.text|smarty }}</p>
    </div>
    {% endfor %}
</div>
-->
{% endblock slide_content %}

