.slide.full-bleed {
    
    .full-block {
        background: linear-gradient(to bottom,rgba(0, 0, 0, 0)  50%,rgba(0, 0, 0, 0.8));
    }
    
    .full-block-cell {
        vertical-align: bottom;
    }

    .full-block-content {
        padding: 0;

        @media @screen-small-above {
            max-width: 1500px;
        }
    }

    .bleed-box {
        padding: 10px 20px 20px 20px;
        //background: @caption-screen-dark;
            /*width: 100%;*/

        @media @screen-small-above {
            padding: 20px;
        }

        p {
            font-size: 13px;
            color: #ddd;
            line-height: 1.3;
            margin: 15px auto;
            text-align: left;
            font-family: georgia, serif;
            max-width: 500px; 
            text-shadow: 2px 2px 4px #000;
            @media @screen-small-above {
                max-width: 700px;
                font-size: 18px;
                line-height: 1.6;
                text-align: justify;
            }
            @media @screen-mega-above {
                font-size: 24px;
            }
            
            .left-align& {
                @media @screen-tiny-above {
                    text-align: left;
                }
            }
            
            .center-align& {
                @media @screen-tiny-above {
                    text-align: center;
                }
            }
            
            b {
                //color: #E4968C;
                font-weight: normal;
                //display: inline-block;
                
                &:first-letter {
                    //font-size: 30px;
                } 
            }
            
        }
    }
}
