<div class="slide audio-reveal" id="{{ row.id }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}" {% if row.media %} data-bgimage="{{ row.media }}" {% endif %}>

    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                {{ row.text1|smarty }}
                
                <div class="pic-wrap">
                    
        		    <img class="feature-pic" src="assets/niemann-love.jpg" alt="a photo I love">
        		    <div id="pic-conclusion"><h1>chapter1</h1></div>
            	</div>
                
                
            </div><!--full-block-content-->
        </div><!--full-block-cell-->

       
    </div><!--full-block-->
</div><!--slide-->