// Breakpoints
@screen-mega-above: ~"screen and (min-width: 1440px)";
@screen-large-above: ~"screen and (min-width: 1201px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 992px)";
@screen-medium: ~"screen and (max-width: 991px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";

.words {

    .full-block {
       .full-block-content {
            
            p {
                position: absolute;
                left: 0;
                bottom: 0;
                color: #fff;
                background: rgba(0, 0, 0, 0.5); 
                padding: 10px;
                text-align: center;
                line-height: 1;
                max-width: 100%;
                width: 100%;
                font-size: 18px;
                text-shadow: none;
                
                @media @screen-small-above {
                    bottom: 0px;
                    padding: 30px;
                    font-size: 32px;
                }
                
            }
            
            h3 {
                text-align: right;
                position: absolute;
                top: 42%;
                left: 0;
                font-size: 24px;
                opacity: .6;
                text-transform: uppercase;
                width: 90%;
                text-shadow: 2px 2px 2px #000;
            }
        }
    }

}

#marcus7c {
    p {
        em {
            display: block;
            padding-bottom: 5px;
            font-size: 12px;
            font-style: normal !important;
            font-family: gotham;
            font-weight: bold;
            @media @screen-small-above {
                padding-bottom: 15px;
                font-size: 20px;
            }
        }
    }
}