.words {
    .full-block-cell {
        vertical-align: middle;
        /*padding-bottom: 100px;*/

        .full-block-content {
            max-width: 200%;
                p {
                    margin: 0 auto;
                    color: white;
                    font-family: "Gotham SSm";
                    font-size: 100px;
                    text-align: center;
                    line-height: 100%;
                    max-width: 60%;
                }       
        }

    }

}