@import "./lib/bootstrap/bootstrap";
@import "./lib/font-awesome/font-awesome";
@import "./lib/prefixer";
@import "./share-modal.less";
@import "./slides/fixed-image.less";
@import "./slides/quote.less";
@import "./slides/start.less";
@import "./slides/titlecard.less";
@import "./slides/video.less";
@import "./slides/next-post.less";
@import "./nudges.less";


// Global variables
@img-root: "../assets";

// Breakpoints
@screen-mega-above: ~"screen and (min-width: 1440px)";
@screen-large-above: ~"screen and (min-width: 1201px)";
@screen-large: ~"screen and (min-width: 1200px)";
@screen-medium-above: ~"screen and (min-width: 992px)";
@screen-medium: ~"screen and (max-width: 991px)";
@screen-small-above: ~"screen and (min-width: 768px)";
@screen-small: ~"screen and (max-width: 767px)";
@screen-tiny-above: ~"screen and (min-width: 481px)";
@screen-tiny: ~"screen and (max-width: 480px)";

body {
    color: #fff;
    font: 16px/1.5em, helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #111;
    opacity: 0;
    .transition(opacity 3s ease);
}

//typography

h1,h2,h3,h4,h5,h6,p,ul,ol,li {
    font-family: helvetica, arial, sans-serif;
}


//navigation
.home {
    position: absolute;
    top: 10px;
    left: 10px;

    p {
        font-size: 18px;
        cursor: pointer;
        color: #ccc;
        
        @media @screen-small-above {
            font-size: 22px;
        }
        
        &:hover {
           color: #fff;
        }
        
    }
}

.audio-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    display: none;
}

.section-navigation {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    .final-slide & {
        display: none;
    }
    
    .titlecard-nav & {
        display: none;
    }
    
    
    li {
        height: 30px;
        padding-top: 5px;
        list-style-type: none;
        float: left;
        width: 14.285%;
        background-color: #ddd;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        
        &:hover {
           b {
               border-bottom: 3px solid #fff;
               padding-bottom: 5px;
           }
        }
        
    }
    
    .red-section {
        background-color: #B61D1E;
    }
    
    .orange-section {
        background-color: #DD5C2F;
    }
    
    .yellow-section {
        background-color: #EDA725;
    }
    
    .green-section {
        background-color: #4F7E37;
    }
    
    .blue-section {
        background-color: #2D3CAE;
    }
    
    .indigo-section {
        background-color: #3B347E;
    }
    
    .violet-section {
        background-color: #2B284D;
    }
    
    .active-section {
        b {
           border-bottom: 3px solid #fff;
           padding-bottom: 5px;
       }
    }
}



.primary-navigation {

    .controlArrow {
        position: fixed;
        top: 40%;
        width: 50px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 47px;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: none;
        cursor: pointer;
        //opacity: 0;
        //.transition(opacity 0.5s ease);
        opacity: .3;

        @media @screen-small-above {
            top: 40%;

            height: 100px;
            font-size: 30px;
            border: 3px solid #fff;

            &:hover {
                background-color: #fff;
                color: #000;
                opacity: .9;
            }
        }

        @media @screen-small {
            &:active {
                background-color: #000;
                color: #fff;
            }
        }
    }

    .controlArrow.prev {
        left: 0;

        &:before {
            font-family: "FontAwesome";
            content: '\f104';
            display: block;
        }

        @media @screen-small-above {
            left: 10px;
            padding-top: 25px;
        }

        /*
        .touch & {
            left: 10px;
            bottom: 5px;
            background-color: #999;

            @media @screen-small-above {
                background-color: #fff;
                left: auto;
                right: 105px;
            }
        }
        */
    }
    .controlArrow.next {
        right: 0;
        padding: 0 0 0 5px;

        &:before {
            font-family: "FontAwesome";
            content: "\f105";
            display: block;

        }

        @media @screen-small-above {
            right: 25px;
            padding-top: 25px;
        }
        /*
        .touch & {
            bottom: 5px;
            left: 135px;

            @media @screen-small-above {
                background-color: #fff;
                left: auto;
                right: 25px;
            }
        }*/
    }

}

.titlecard-nav .primary-navigation .controlArrow {
    opacity: .7;
    @media @screen-small-above {
        opacity: 1;
    }
}

// default slide styles
#superContainer {
    height: 100%;
    position: relative;
    /* Touch detection for Windows 8 */
    -ms-touch-action: none;
}
.section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;

    .slides {
        height: 100%;
        overflow: hidden;
        position: relative;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;

        //transition between slides
        .instant {
            .transition(all 0 ease-in);
        }

        .slidesContainer {
            float: left;
            position: relative;
            height: 100%;
            display: block;

            .slide {
                float: left;
                height: 100%;
                display: block;
                overflow: auto;
            }

        }
    }
}

//full-bleed background images on sections and slides
.section, .slide {
    .background-size(cover);
    background-position: center center;
    position: relative;
}

// full width container within a section or slide
.full-block {
    display: table;
    width: 100%;
    height: 100%;


    .full-block-cell {
        display: table-cell;
        vertical-align: top;
        padding-top: 20px;
        @media @screen-small-above {
            padding-top: 0;
            vertical-align: middle;
        }
        width: 100%;
    }


    .full-block-content {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        padding-bottom: 50px; // to account for section nav
        @media @screen-small-above {
             padding: 20px 100px;
        }
    }
}




// start screen 

#first {
    overflow: hidden;
    
    h1 {
        font-family: 'Dancing Script', cursive;
        text-transform: none;
    }
    
    h2 {
        font-family:helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
    }
    
}




//fact slides

.slide.fact {

    .full-block {
        background: rgba(0,0,0,0.3);
    }

    .full-block-content {
        max-width: 70%;
        margin: 0 auto;
        @media @screen-small-above {
            max-width: 900px;
        }
    }

    .fact-icon {
        width: 40px;
        margin: 0 auto;
        display: block;
        position: relative;
        left: -5px;
        
        @media @screen-small-above {
            left: 0;
            margin: 0;
            float: left;
            width: 80px;
        }
    }

    .fact-text {
    
        @media @screen-small-above {
            margin-left: 120px;
        }
        
        a {
            color: #a6e2f8;
            font-weight: bold;
        }
        
        h3 {
             font-size: 16px;
             font-weight: bold;
            
             margin: 10px 0 10px 0;
             text-align: center;
             text-transform: uppercase;
             letter-spacing: 6px;
             
             @media @screen-small-above {
                 border-bottom: 4px solid #fff;
                 padding-bottom: 5px;
                margin: 0 0 25px 0;
                display: inline-block;
                text-align: left;
             }
         }
         
         p {
             font-size: 13px;
             letter-spacing: 1px;
             line-height: 1.5;
             margin-bottom: 10px;
             
             @media @screen-small-above {
                 font-size: 20px;
                 letter-spacing: 2px;
                 line-height: 1.5;
                 margin-bottom: 20px;
             }
         }
     
    }
    
    .share-fact {
 
        @media @screen-small-above {
            margin-top: 10px;
            padding-top: 25px;
        }
        
        h4 {
            text-transform: uppercase;
            font-size: 14px;
            margin: 20px 0 0 0;
            color: #ccc;
        }
        
        h6 {
            display: none;
            
            @media @screen-small-above {
                 display: block;
                 font-size: 11px;
                 color: #fff;
                 clear: both;
                 padding-top: 10px;
                 font-weight: normal;
             }
        }
        
        ul {
            list-style-type: none;
            padding: 0;
            width: 90px;
            margin: 20px auto 0 auto;
            
            @media @screen-small-above {
                float: left;
                margin: 0;
                width: auto;
             }
          
            
            li {
                margin-right: 10px;
                border: 1px solid #fff;
                font-size: 13px;
                padding: 5px 10px;
                
                &:hover {
                   background-color: #fff;
                   a{color: #222;}
                }
                
                i {
                    font-size: 16px;
                    padding-right: 5px;
                }
                
                a {
                    color: #fff;
                    text-decoration: none;
                    
                    
                }
                
                @media @screen-small-above {
                    float: left;
                 }
            }
        }
        
        .share-image {
            display: none;
            
            @media @screen-small-above {
                 display: block;
             }
        }
    }
}

.credit {
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;
    
    a {
        color: #a6e2f8;
        font-weight: bold;
    }
    
    p {
        border-top: 1px solid #ddd;
        padding-top: 10px;
        font-size: 10px;
        @media @screen-small-above {
            border-top: none;
            position: absolute;
            right: 15px;
            bottom: 30px;
            font-size: 11px;
            max-width: 800px;
            font-family: helvetica, arial, sans-serif;
            text-align: right;
            color: #fff;
            padding-right: 3px;
        }
    }
    
}

//titlecard
.titlecard {
   
   
   .full-block-content {
        max-width: 70%;
        margin: 0 auto;
        @media @screen-small-above {
            max-width: 900px;
        }
    }
    
    
    .full-block-cell {
        text-align: center;
        color: #fff;

         h2 {
            font-family: 'Dancing Script', cursive, serif;
             margin: 30px auto;
             font-size: 72px;
             line-height: 1.1;
             text-align: center;
             
             @media @screen-small-above {
                 font-size: 150px;

             }
         }
         
         h3 {
            font-size: 13px;
            margin: 0;
            letter-spacing: 2px;
            @media @screen-small-above {
                font-size: 24px;
                margin-top: 20px;
             }
             
         }

         h5 {
            font-size: 10px;
            font-weight: normal;
            text-align: center;
            
            @media @screen-small-above {
                 font-size: 12px;
                 text-align: justify;
                 font-weight: bold;
             }
        }
    }
}

.slide.fact.color-quote {

    .full-block {
        background: rgba(0,0,0,0.1);
    }

    .fact-text {
        p {
             font-family: 'Dancing Script', cursive, serif;
             letter-spacing: 0;
             font-size: 32px;
             line-height: 1;
             
             
             @media @screen-small-above {
                 font-size: 60px;
             }
         }
         
        h5 {
            margin: 30px auto;
            line-height: 1.5;
        }
    }
}

#greenquote {

    .fact-text {
        p {
            font-size: 36px;
        }
    }
    
}

// intro

#intro {

    .full-block-content {
        padding: 20px 100px;
        max-width: 800px;
        margin: 0 auto;
    
        p {
             font-size: 13px;
             letter-spacing: 1px;
             line-height: 1.5;
             margin-bottom: 10px;
             text-align: justify;
             text-shadow: 2px 2px 2px #333;
             
             @media @screen-small-above {
                 font-size: 18px;
                 letter-spacing: 2px;
                 line-height: 1.5;
                 margin-bottom: 20px;
             }
         }
    }
    
    
}

// @media only screen and (orientation:portrait){
//     body {
//         -webkit-transform: rotate(90deg);
//         -moz-transform: rotate(90deg);
//         -o-transform: rotate(90deg);
//         -ms-transform: rotate(90deg);
//         transform: rotate(90deg);
//      }
//  }
//  @media only screen and (orientation:landscape){
//     body {
//         -webkit-transform: rotate(0deg);
//         -moz-transform: rotate(0deg);
//         -o-transform: rotate(0deg);
//         -ms-transform: rotate(0deg);
//         transform: rotate(0deg);
//      }
//  }