<div class="slide fact {% if row.extra_class %} {{ row.extra_class }} {% endif %}" id="{{ row.slug }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}" {% if row.media %} data-bgimage="{{ row.media }}" {% endif %} {% if row.section %}data-section="{{ row.section }}"{% endif %}>

    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
            
                {% if row.fact_icon %}
                    <img src="assets/{{ row.fact_icon }}" class="fact-icon">
                {% endif %}
            
            
                <div class="fact-text">  
                    {% if row.text2 %}
                        <h3>{{ row.text2|smarty }}</h3>
                    {% endif %}   
                        
                    {{ row.text1|smarty }}
                    
                    
                    
                    <div class="share-fact">
                        <ul>
                            <li class="share-image">
                                <a href="{{S3_BASE_URL}}/posts/{{DEPLOY_SLUG}}/assets/share-images/{{ row.slug }}.png" target="_blank">
                                    <i class="fa fa-picture-o"></i> share this fact
                                </a>
                            </li>
                            <li class="share-fb">
                                <a href="https://www.facebook.com/dialog/feed?app_id={{ COPY.post_metadata.facebook_app_id }}&amp;link={{ COPY.post_metadata.share_url|urlencode }}&amp;name={{ COPY.post_metadata.facebook_title|urlencode }}&amp;picture={{ S3_BASE_URL|urlencode }}%2posts%2{{DEPLOY_SLUG}}%2assets%2share-images%2{{ row.slug }}.png&amp;redirect_uri={{ COPY.post_metadata.share_url|urlencode }}" target="_blank" onclick="_gaq.push(['_trackEvent', 'lookatthis:{{ SLUG }}', 'facebook', 'image fact']);">
                                <i class="fa fa-facebook"></i> share
                                </a>
                            </li>
                        </ul>
                        
                    </div><!--/share-fact-->
                </div>
                
                
            
            </div><!--full-block-content-->
            
            {% if row.text3 %}
            <div class="credit">
               <p>{{ row.text3|smarty }}</p>
            </div>
            {% endif %}
            
        </div><!--full-block-cell-->
        
        

        {% if row.media %}
            
        {% endif %}
    </div><!--full-block-->
</div><!--slide-->