<div class="slide fact {% if row.extra_class %} {{ row.extra_class }} {% endif %}" id="{{ row.slug }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}" {% if row.media %} data-bgimage="{{ row.media }}" {% endif %}>

    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
            
                {% if row.fact_icon %}
                    <img src="assets/{{ row.fact_icon }}" class="fact-icon">
                {% endif %}
            
            
                <div class="fact-text">  
                    {% if row.text2 %}
                        <h3>{{ row.text2|smarty }}</h3>
                    {% endif %}   
                        
                    {{ row.text1|smarty }}
                    
                    
                    
                    <div class="share-fact">
                        
                        
                        <ul>
                            <li class="share-image"><i class="fa fa-picture-o"></i> share this #colorfact image</li>
                            <li class="share-fb"><i class="fa fa-facebook"></i> share</li>
                        </ul>
                        
                    </div><!--/share-fact-->
                </div>
                
                
            
            </div><!--full-block-content-->
            
            <div class="credit">
                <p>{{ row.text3|smarty }}</p>
            </div>
        </div><!--full-block-cell-->
        
        

        {% if row.media %}
            
        {% endif %}
    </div><!--full-block-->
</div><!--slide-->