<div class="slide start" id="{{ row.slug }}" style="{% if row.color %} background-color: {{ row.color }}; {% endif %}" {% if row.media %} data-bgimage="{{ row.media }}" {% endif %}>

    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                <div class="look-branding">
                    <a href="http://lookatthisstory.tumblr.com/">
                    <img src="assets/npr-logo.png">
                    <h5>Look At This</h5>
                    </a>
                </div>
                <h1>{{ row.text1|smarty }}</h1>
                <h2>{{ row.text2|smarty }}</h2>
                <h3>{{ row.author|smarty }}</h3>
                <h4>{{ row.date|smarty }}</h4>
            </div>
        </div>
    </div>
</div>